<div class="alert-message success">
    <i class="icon-ok"></i>
    <p><span>success message</span><br>
    You successfully read this important message.</p>
</div>

<div class="alert-message info">
    <i class="icon-bullhorn"></i>
    <p><span>success message</span><br>
    This alert needs your attention.</p>
</div>
<div class="alert-message warning">
    <i class="icon-exclamation-sign"></i>
    <p><span>success message</span><br>
    Warning! Best check yo self.</p>
</div>

<div class="alert-message error">
    <i class="icon-flag"></i>
    <p><span>success message</span><br>
    Oh snap! Change a few things up.</p>
</div>