<!-- we will develop this area later -->
<!-- <div id="header-top">
    <section class="container clearfix">
        <nav class="header-top-nav">
            <ul>
                <li>
                    <a href="javascript:">
                        <i class="icon-envelope"></i>Contact</a>
                </li>
                <li>
                    <a href="javascript:">
                        <i class="icon-headphones"></i>Support</a>
                </li>
                <%
                if (typeof session === 'undefined' || typeof session.email === 'undefined'){
                    %>
                <li>
                    <a href="login.html" id="login-panel">
                        <i class="icon-user"></i>Login Area</a>
                </li>
                <% } %>
            </ul>
        </nav>
        <div class="header-search">
            <form>
                <input type="text" value="Search here ..." onfocus="if(this.value=='Search here ...')this.value='';" onblur="if(this.value=='')this.value='Search here ...';">
                <button type="submit" class="search-submit"></button>
            </form>
        </div>
    </section>

</div> -->
<!-- End header-top -->
<header id="header">
    <section class="container clearfix">
        <div class="logo">
            <a href="/">
                <img alt="" src="image/cm-logo-b.jpg" height="57" width="176">
            </a>
        </div>
        <nav class="navigation">
            <ul id="NavMenu">
                <li class="current_page_item">
                    <a href="/">Home</a>
                    <!-- <ul>
                        <li class="current_page_item">
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="index_2.html">Home 2</a>
                        </li>
                        <li>
                            <a href="index_boxed_1.html">Home Boxed 1</a>
                        </li>
                        <li>
                            <a href="index_boxed_2.html">Home Boxed 2</a>
                        </li>
                        <li>
                            <a href="index_no_box.html">Home No Box</a>
                        </li>
                    </ul> -->
                </li>
                <li class="">
                    <a href="/questionBoard">Challenge Board</a>
                </li>
                <li>
                    <a href="/askQuestion">Post Challenge</a>
                    <!-- <ul>
                        <li>
                            <a href="cat_question.html">Questions Category</a>
                        </li>
                        <li>
                            <a href="single_question.html">Question Single</a>
                        </li>
                        <li>
                            <a href="single_question_poll.html">Poll Question Single</a>
                        </li>
                    </ul> -->
                </li>
                <li>
                    <a href="/trainingMaterial">Training Materials</a>
                </li>
                 <%
                
                if (typeof session !== 'undefined' && typeof session.email !== 'undefined'){

                    %>
                     <li>
                        <a href="/userProfile/<%=session.user_id%>">User</a>
                        <!-- <ul>
                            <li>
                                <a href="user_profile.html">User Profile</a>
                            </li>
                            <li>
                                <a href="user_questions.html">User Questions</a>
                            </li>
                            <li>
                                <a href="user_answers.html">User Answers</a>
                            </li>
                            <li>
                                <a href="user_favorite_questions.html">User Favorite Questions</a>
                            </li>
                            <li>
                                <a href="user_points.html">User Points</a>
                            </li>
                            <li>
                                <a href="edit_profile.html">Edit Profile</a>
                            </li>
                        </ul> -->
                    </li>
                    <% } %> -->
                        <!-- <li>
                    <a href="blog_1.html">Blog</a>
                    <ul>
                        <li>
                            <a href="blog_1.html">Blog 1</a>
                            <ul>
                                <li>
                                    <a href="blog_1.html">Right sidebar</a>
                                </li>
                                <li>
                                    <a href="blog_1_l_sidebar.html">Left sidebar</a>
                                </li>
                                <li>
                                    <a href="blog_1_full_width.html">Full Width</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="blog_2.html">Blog 2</a>
                            <ul>
                                <li>
                                    <a href="blog_2.html">Right sidebar</a>
                                </li>
                                <li>
                                    <a href="blog_2_l_sidebar.html">Left sidebar</a>
                                </li>
                                <li>
                                    <a href="blog_2_full_width.html">Full Width</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="single_post.html">Post Single</a>
                            <ul>
                                <li>
                                    <a href="single_post.html">Right sidebar</a>
                                </li>
                                <li>
                                    <a href="single_post_l_sidebar.html">Left sidebar</a>
                                </li>
                                <li>
                                    <a href="single_post_full_width.html">Full Width</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li> -->
                        <%

                if (typeof session !== 'undefined' && typeof session.email !== 'undefined'){
                    
                    %>
                            <li>
                                <a href="/logOut">Log out</a>
                            </li>
                            <%       
                } else{
                %>
                                <li>
                                    <a href="/loginRegister">Login/Register</a>
                                    <!-- <ul>
                        <li>
                            <a href="login.html">Login</a>
                        </li>
                        <li>
                            <a href="contact_us.html">Contact Us</a>
                        </li>
                        <li>
                            <a href="ask_question.html">Ask Question</a>
                        </li>
                        <li>
                            <a href="right_sidebar.html">Right Sidebar</a>
                        </li>
                        <li>
                            <a href="left_sidebar.html">Left Sidebar</a>
                        </li>
                        <li>
                            <a href="full_width.html">Full Width</a>
                        </li>
                        <li>
                            <a href="404.html">404</a>
                        </li>
                    </ul> -->
                                </li>
                                <% } %>
            </ul>
        </nav>
    </section>
    <!-- End container -->
</header>
<!-- End header -->
