<div id="wporg-header">
    <div class="wrapper">
        <button id="mobile-menu-button" aria-expanded="false">
            <span class="screen-reader-text">Toggle Menu</span>
        </button>
        <h1>
            <a href="http://chainmap.org">Chainmap.org</a>
        </h1>
        <div id="head-search">
            <form action="javascript:" method="get">
                <label for="global-search" class="screen-reader-text">Search WordPress.org for:</label>
                <input id="global-search" class="text" name="search" type="text" value="" maxlength="150" placeholder="Search Chainmap.org"
                />
                <button type="submit" class="button">
                    <span class="screen-reader-text">Submit</span>
                </button>
            </form>
        </div>
        <div style="clear:both"></div>

        <ul id="wporg-header-menu">
            <li class='menu-item'>
                <a href='javascript:' title='Home'>Home</a>
            </li>
            <li class='menu-item'>
                <a href='javascript:' title='Challenge'>Challenge</a>
            </li>
            <li class='menu-item'>
                <a href='javascript:' title='About'>About</a>
                
            </li>
            <li class='menu-item'>
                <a href='javascript:' title='Question Board' class="current">Question Board</a>
                <div class="uparrow"></div>
            </li>

            <!-- <li id="download" class="button download-button" class='menu-item'><a href='//wordpress.org/download/' title='Get it. Got it? Good.'>Download WordPress</a></li> -->
        </ul>
        <div style="clear:both"></div>
    </div>
</div>