<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">

        <ul class="nav navbar-nav">
            <li><a href="/page"><font size="5"><b>Home</b></font></a></li>
            <li><a href="/challenge"><font size="5"><b>Challenge</b></font></a></li>
            <li><a href="/signup"><font size="5"><b>Signup</b></font></a></li>
            <li><a href="/about"><font size="5"><b>About</b></font></a></li> 
            <li><a href="/questionBoard"><font size="5"><b>Question Board</b></font></a></li> 
        </ul>
    </div>
</div>
</nav>
<!--
    <right> <a href="/logout">Logout</a></right> 
        -->
    <center> <img src="image/files/cm-logo-w.jpg" height="140" align="top"></img></center>


