<div id="wporg-footer">
    <div class="wrapper">
        <ul>
            <li>
                <a href="//wordpress.org/about/" title="An introduction to the WordPress project">About</a>
            </li>
            <li>
                <a href="//wordpress.org/news/" title="News and Updates">Blog</a>
            </li>
            <li>
                <a href="//wordpress.org/hosting/" title="Recommended web hosting providers">Hosting</a>
            </li>
            <li>
                <a href="https://wordpressfoundation.org/donate/" title="Donate to the WordPress Foundation">Donate</a>
            </li>
        </ul>

        <ul>
            <li>
                <a href="//wordpress.org/support/" title="Forums, documentation, and other resources">Support</a>
            </li>
            <li>
                <a href="//developer.wordpress.org" title="Resources for WordPress developers">Developers</a>
            </li>
            <li>
                <a href="//make.wordpress.org/" title="Give back to WordPress through code, support, translation and more">Get Involved</a>
            </li>
            <li>
                <a href="//learn.wordpress.org/" title="Workshops and training materials">Learn</a>
            </li>
        </ul>

        <ul>
            <li>
                <a href="//wordpress.org/showcase/" title="Some of the best WordPress sites on the Web">Showcase</a>
            </li>
            <li>
                <a href="//wordpress.org/plugins/" title="Add extra functionality to WordPress">Plugins</a>
            </li>
            <li>
                <a href="//wordpress.org/themes/" title="Make your WordPress pretty">Themes</a>
            </li>
            <li>
                <a href="//wordpress.org/ideas/" title="Share your ideas for improving WordPress">Ideas</a>
            </li>
        </ul>

        <ul>
            <li>
                <a href="//central.wordcamp.org/" title="Find a WordPress event near you">WordCamp</a>
            </li>
            <li>
                <a href="//wordpress.tv/" title="Videos, tutorials, and WordCamp sessions">WordPress.TV</a>
            </li>
            <li>
                <a href="//buddypress.org/" title="A set of plugins to transform your WordPress into a social network">BuddyPress</a>
            </li>
            <li>
                <a href="//bbpress.org/" title="Fast, slick forums built on WordPress">bbPress</a>
            </li>
        </ul>

        <ul>
            <li>
                <a href="//wordpress.com/?ref=wporg-footer" title="Hassle-free WordPress hosting">WordPress.com</a>
            </li>
            <li>
                <a href="//ma.tt/" title="Co-founder of WordPress, an example of what WordPress can do">Matt</a>
            </li>
            <li>
                <a href="//wordpress.org/about/privacy/" title="WordPress.org Privacy Policy">Privacy</a>
            </li>
            <li>
                <a href="https://publiccode.eu/" target="_blank">Public Code</a>
            </li>
        </ul>

        <ul>
            <li>
                <iframe title="Follow @WordPress on Twitter" allowtransparency="true" frameborder="0" scrolling="no" src="//platform.twitter.com/widgets/follow_button.html?screen_name=WordPress&amp;show_count=false"
                    style="width:135px; height:20px;"></iframe>
            </li>
            <li>
                <iframe title="Like WordPress on Facebook" src="//www.facebook.com/plugins/like.php?app_id=121415197926116&amp;href=http%3A%2F%2Fwww.facebook.com%2Fwordpress&amp;send=false&amp;layout=button_count&amp;width=135&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=21"
                    scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:135px; height:21px;" allowTransparency="true"></iframe>
            </li>
            <li>
                <script src="https://apis.google.com/js/platform.js" async defer></script>
                <div class="g-plusone" data-size="medium" data-href="https://plus.google.com/+WordPress"></div>
            </li>
        </ul>
    </div>

    <p class="cip cip-image">Code is Poetry.</p>
</div>


<script type="text/javascript">
    var _qevents = _qevents || [];
    (function () {
        var elem = document.createElement('script');
        elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge")
            + ".quantserve.com/quant.js";
        elem.async = true;
        elem.type = "text/javascript";
        var scpt = document.getElementsByTagName('script')[0];
        scpt.parentNode.insertBefore(elem, scpt);
    })();
</script>
<script type="text/javascript">
    /**
     * Handles toggling the navigation menu for small screens and enables TAB key
     * navigation support for dropdown menus.
     */
    (function ($) {
        var container, button, menu, links, i, len;

        container = document.getElementById('wporg-header');
        if (!container) {
            return;
        }

        button = container.getElementsByTagName('button')[0];
        if ('undefined' === typeof button) {
            return;
        }

        menu = container.getElementsByTagName('ul')[0];

        // Hide menu toggle button if menu is empty and return early.
        if ('undefined' === typeof menu) {
            button.style.display = 'none';
            return;
        }

        menu.setAttribute('aria-expanded', 'false');
        if (-1 === menu.className.indexOf('nav-menu')) {
            menu.className += ' nav-menu';
        }

        button.onclick = function () {
            if (-1 !== menu.className.indexOf('toggled')) {
                menu.className = menu.className.replace(' toggled', '');
                button.setAttribute('aria-expanded', 'false');
                menu.setAttribute('aria-expanded', 'false');
            } else {
                menu.className += ' toggled';
                button.setAttribute('aria-expanded', 'true');
                menu.setAttribute('aria-expanded', 'true');
            }
        };

        // Get all the link elements within the menu.
        links = menu.getElementsByTagName('a');

        // Each time a menu link is focused or blurred, toggle focus.
        for (i = 0, len = links.length; i < len; i++) {
            links[i].addEventListener('focus', toggleFocus, true);
            links[i].addEventListener('blur', toggleFocus, true);
        }

        /**
         * Sets or removes .focus class on an element.
         */
        function toggleFocus() {
            var self = this;

            // Move up through the ancestors of the current link until we hit .nav-menu.
            while (-1 === self.className.indexOf('nav-menu')) {

                // On li elements toggle the class .focus.
                if ('li' === self.tagName.toLowerCase()) {
                    if (-1 !== self.className.indexOf('focus')) {
                        self.className = self.className.replace(' focus', '');
                    } else {
                        self.className += ' focus';
                    }
                }

                self = self.parentElement;
            }
        }

        /**
         * Toggles `focus` class to allow submenu access on tablets.
         */
        (function (container) {
            var touchStartFn, i,
                parentLink = container.querySelectorAll('.menu-item-has-children > a, .page_item_has_children > a');

            if ('ontouchstart' in window) {
                touchStartFn = function (e) {
                    var menuItem = this.parentNode, i;

                    if (!menuItem.classList.contains('focus')) {
                        e.preventDefault();
                        for (i = 0; i < menuItem.parentNode.children.length; ++i) {
                            if (menuItem === menuItem.parentNode.children[i]) {
                                continue;
                            }
                            menuItem.parentNode.children[i].classList.remove('focus');
                        }
                        menuItem.classList.add('focus');
                    } else {
                        menuItem.classList.remove('focus');
                    }
                };

                for (i = 0; i < parentLink.length; ++i) {
                    parentLink[i].addEventListener('touchstart', touchStartFn, false);
                }
            }
        }(container));
    })();
</script>
<script type="text/javascript">_qevents.push({ qacct: "p-18-mFEk4J448M" });</script>
<noscript>
    <img src="//pixel.quantserve.com/pixel/p-18-mFEk4J448M.gif" style="display: none;" border="0" height="1" width="1" alt=""
    />
</noscript>
<!-- 9 queries. 0.190 seconds -->
<script type="text/javascript" src="//gravatar.com/js/gprofiles.js"></script>

<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            $('#footer a, #wporg-footer a').click(function () {
                if (this.href.indexOf('wordpress.org') == -1 && this.href.indexOf('http') == 0) {
                    recordOutboundLink(this, 'Outbound Links', this.href);
                    return false;
                }
            });
        });
    })(jQuery);
</script>
<!-- <script type='text/javascript' src='https://wordpress.org/plugins/wp-includes/js/admin-bar.min.js?ver=5.0-alpha-43320'></script> -->
<script type='text/javascript' src='https://s.w.org/wp-content/themes/pub/wporg-plugins/js/navigation.js?ver=20151215'></script>
<script type='text/javascript' src='https://s.w.org/wp-content/themes/pub/wporg-plugins/js/skip-link-focus-fix.js?ver=20151215'></script>
<script type='text/javascript' src='https://s.w.org/wp-content/themes/pub/wporg-plugins/js/popover.js?ver=20171002'></script>
<script type='text/javascript' src='https://s.w.org/wp-content/themes/pub/wporg-plugins/js/section-faq.js?ver=20180131'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wporgLocaleBanner = { "apiURL": "https:\/\/wordpress.org\/plugins\/wp-json\/plugins\/v1\/locale-banner", "currentPlugin": "question-and-answer-forum" };
/* ]]> */
</script>
<script type='text/javascript' src='https://s.w.org/wp-content/themes/pub/wporg-plugins/js/locale-banner.js?ver=20171116'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var pluginDirectory = { "endpoint": "https:\/\/wordpress.org\/plugins\/wp-json", "nonce": "8f43584cd3", "base": "\/plugins\/", "userId": "0" };
    var localeData = { "": { "Plural-Forms": "nplurals=2; plural=n != 1;", "Language": "en", "localeSlug": "en" }, "screenshots": "Screenshots" };
/* ]]> */
</script>
<script type='text/javascript' src='https://s.w.org/wp-content/themes/pub/wporg-plugins/js/theme.js?ver=20180110'></script>
<script type='text/javascript' src='https://s.w.org/wp-includes/js/wp-embed.min.js?ver=5.0-alpha-43320'></script>
<div id="wpadminbar" class="nojq nojs">
    <a class="screen-reader-shortcut" href="#wp-toolbar" tabindex="1">Skip to toolbar</a>
    <div class="quicklinks" id="wp-toolbar" role="navigation" aria-label="Toolbar" tabindex="0">

        <ul id='wp-admin-bar-top-secondary' class="ab-top-secondary ab-top-menu">
            <li id='wp-admin-bar-log-in'>
                <a class='ab-item' href='https://login.wordpress.org/?redirect_to=https%3A%2F%2Fwordpress.org%2Fplugins%2Fquestion-and-answer-forum%2F&#038;locale=en_US'>Log In</a>
            </li>
            <li id='wp-admin-bar-register'>
                <a href="#userRegister-modal" data-target="#userRegister-modal" data-toggle="modal" onclick="getCompanies();">Register</a>
            </li>
        </ul>
    </div>
</div>


<!-- Modal Posting question modal window-->
<div class="modal fade" id="userRegister-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    User Registration
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="registerForm">
                    <div class="form-group">
                        <label for="isReviewRequired">You can either Select an Employer from the dropdown or create your own company</label>
                        <label class="radio-inline">
                            <input type="radio" name="isReviewRequired" value="select" onclick="selectMode('select')" checked>Select an Employer</label>
                        <label class="radio-inline">
                            <input type="radio" name="isReviewRequired" value="create" onclick="selectMode('create')">Create Company</label>
                    </div>
                    <div class="form-group employerFields">
                        <label for="employer">Select Employer</label>
                        <select class="form-control" id="employer" required>
                            <option value="">Please select an Employer</option>
                        </select>
                    </div>
                    <div class="form-group companyFields">
                        <label for="companyName">Company Name</label>
                        <input type="text" class="form-control" id="companyName" placeholder="Company Name" required="true" name="companyName" required />
                    </div>
                    <div class="form-group companyFields">
                        <label for="companyInfo">Company Information</label>
                        <input type="text" class="form-control" id="companyInfo" placeholder="Company Information" required="true" name="companyInfo"
                        />
                    </div>
                    <div class="form-group companyFields">
                        <label for="companyEmail">Company Email</label>
                        <input type="text" class="form-control" id="companyEmail" placeholder="Company E-mail" required="true" name="companyEmail" required
                        />
                    </div>
                    <div class="form-group companyFields">
                        <label for="companyPhone">Company Phone</label>
                        <input type="text" class="form-control" id="companyPhone" placeholder="Company Phone" required="true" name="companyPhone" required
                        />
                    </div>
                    
                    <div class="form-group companyFields">
                        <label for="companyweb">Company Website</label>
                        <input type="text" class="form-control" id="companyweb" placeholder="Company Website" required="true" name="companyweb" />
                    </div>
                    <div class="form-group">
                        <label for="firstName">User First Name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="User First Name" required="true" name="firstName" required/>
                    </div>
                    <div class="form-group">
                        <label for="lastName">User Last Name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="User Last Name" required="true" name="lastName" required/>
                    </div>
                    <div class="form-group">
                        <label for="userName">User Name</label>
                        <input type="text" class="form-control" id="userName" placeholder="User Name" required="true" name="userName" required/>
                    </div>
                    <div class="form-group">
                        <label for="userEmail">User E-mail</label>
                        <input type="text" class="form-control" id="userEmail" placeholder="User E-mail" required="true" name="userEmail" required />
                    </div>
                    <div class="form-group">
                        <label for="userPhone">User Phone</label>
                        <input type="text" class="form-control" id="userPhone" placeholder="User Phone" required="true" name="userPhone" required/>
                    </div>
                    <div class="form-group">
                        <label for="userPasswd">User Password</label>
                        <input type="text" class="form-control" id="userPasswd" placeholder="User Password" required="true" name="userPasswd" required/>
                    </div>
                    <div class="form-group">
                        <label for="userPAddress">User Payment Address</label>
                        <input type="text" class="form-control" id="userPAddress" placeholder="User Payment Address" required="true" name="userPAddress"
                        />
                    </div>
                    <div class="form-group">
                        <label for="isReviewRequired">Do you want to be reviewer?</label>
                        <label class="radio-inline">
                            <input type="radio" name="isReviewRequired" value="1">Yes</label>
                        <label class="radio-inline">
                            <input type="radio" name="isReviewRequired" value="0" checked>No</label>
                    </div>
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="getvaluesToRegisterUser();">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var gMode = "select";
    function selectMode(mode) {
        if (mode == "select") {
            $(".companyFields").hide();
            clear_form_elements('companyFields')
            $(".employerFields").show();
            gMode = "select"
        }
        else if (mode == "create") {
            $(".employerFields").hide();
            clear_form_elements('employerFields')
            $(".companyFields").show();
            gMode = "create"
        }
    }

    function clear_form_elements(class_name) {
        $("." + class_name).find(':input').each(function () {
            switch (this.type) {
                case 'password':
                case 'text':
                case 'textarea':
                case 'file':
                case 'select-one':
                case 'select-multiple':
                case 'date':
                case 'number':
                case 'tel':
                case 'email':
                    jQuery(this).val('');
                    break;
                case 'checkbox':
                case 'radio':
                    this.checked = false;
                    break;
            }
        });
    }
    function getvaluesToRegisterUser() {
        var url = "/userRegister";
        if (gMode == "select") {
            data = {
                'mode':gMode,
                'company_id': $("#employer").val(),
                'firstname': $("#firstName").val(),
                'lastname': $("#lastName").val(),
                'user_name': $("#userName").val(),
                'user_email': $("#userEmail").val(),
                'user_phone': $("#userPhone").val(),
                'password': $("#userPasswd").val(),
                'payment_address': $("#userPAddress").val(),
                'is_reviewer': $('input[name="isReviewRequired"]:checked').val()
            };
        }
        else if (gMode == "create") {
            data = {
                'mode':gMode,
                'company_name': $("#companyName").val(),
                'company_info': $("#companyInfo").val(),
                'company_email': $("#companyEmail").val(),
                'company_phone': $("#companyPhone").val(),
                'company_site': $("#companyweb").val(),
                'firstname': $("#firstName").val(),
                'lastname': $("#lastName").val(),
                'user_name': $("#userName").val(),
                'user_email': $("#userEmail").val(),
                'user_phone': $("#userPhone").val(),
                'password': $("#userPasswd").val(),
                'payment_address': $("#userPAddress").val(),
                'is_reviewer': $('input[name="isReviewRequired"]:checked').val()
            };
        }

        $.ajax({
            type: 'POST',
            url: url,
            data: data,
            async: false,
            success: function (data) {
                window.location.reload();
            },
            error: function () {
                alert('Error occured');
            }
        });
    }

    function getCompanies(){
        var url = "/getCompanies";
        $.ajax({
            type: 'POST',
            url: url,
            async: false,
            success: function (data) {
                for (i=0; i<data.length;i++){
                    $('#employer').append('<option value="'+data[i].company_id+'">' + data[i].company_name  + '</option');
                }
            },
            error: function () {
                alert('Error occured');
            }
        });
    }
</script>
<style>
    .companyFields {
        display: none;
    }
</style>
<!-- List Add modal window end -->