<head>

	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<title>Chainmap.org</title>
	<meta name="description" content="Chainmap.org">
	<meta name="author" content="vbegy">
	
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- Main Style -->
	<link rel="stylesheet" href="/css/style.css">
	
	<!-- Skins -->
	<link rel="stylesheet" href="/css/skins/skins.css">
	
	<!-- Responsive Style -->
	<link rel="stylesheet" href="/css/responsive.css">
	
	<!-- Favicons -->
	<link rel="shortcut icon" href="/image/favicon-16x16.png">
	<script src="/js/jquery.min.js"></script>
  
</head>