<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/developer-header %>
</header>

<main>
    <div class="jumbotron">
        <p>Contact: chainmapsocial@gmail.com </p>
        <p>Reddit: ChainMapOrg </p>
        <p>Twitter: @ChainMapOrg </p>
        <p>Phone: 650-644-6928 </p>
    </div>


</main>

<footer>
    <% include ./partials/developer-footer %>
</footer>

</body>
</html>