<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<!-- header part start -->
<% include ./partials/header %>
    <!-- header part end -->
    <!-- body part start -->

    <body>

        <div class="loader">
            <div class="loader_html"></div>
        </div>

        <div id="wrap" class="grid_1200">








            <% include ./partials/header_login %>

                <% include ./partials/body_header %>

                    <div class="breadcrumbs">
                        <section class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>Contact Us</h1>
                                </div>
                                
                            </div>
                            <!-- End row -->
                        </section>
                        <!-- End container -->
                    </div>
                    <!-- End breadcrumbs -->

                    <section class="container main-content page-full-width">
                        <div class="row">
                            <div class="contact-us">
                                <!-- <div class="col-md-12">
                                    <div class="page-content">
                                        <iframe height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=egypt&amp;hl=en&amp;sll=26.820553,30.802498&amp;sspn=16.874794,19.753418&amp;hnear=Egypt&amp;t=m&amp;z=6&amp;output=embed"></iframe>
                                    </div>
                                </div> -->
                                <div class="col-md-7">
                                    <div class="page-content">
                                        <h2>Team</h2>
                                        <ul>
                                        <li><a href="https://www.linkedin.com/in/george-zhao-9568865/">George Zhao - Technology</a>
                                        <li><a href="https://icobench.com/u/steven-fan">Steven Fan - Money </a>
                                        <li><a href="https://www.linkedin.com/in/paulchu/">Paul Chu - Business </a>
                                        <li><a href="https://www.linkedin.com/in/mason-tian-6594a5135/">Mason Tian - developer </a>
                                        <li><a href="https://www.linkedin.com/in/thedhrubo/">Dhrubo Saha - developer </a>
                                        <li>Carlos Rivas - developer
                                        <li>chainmap.org open source github community
                                        </ul>
                                    </div>
                                    <div class="page-content">
                                        <h2>Partners</h2>
                                        <ul>
                                        <li><a href="http://english.pku.edu.cn/">Beijing University</a>
                                        <li><a href="elementus.io">https://elementus.io/</a>
                                        <li><a href="The Blockchain Academy">https://www.theblockchainacademy.com/</a>
                                        <li><a href="http://ebookchain.org/">ebookchain.org</a>
                                        <li>XHub Space

                                        </ul>
                                    </div>
   
                                    <!-- End page-content -->
                                </div>
                                
                                <!-- End col-md-6 -->
                                <div class="col-md-5">
                                    <div class="page-content">
                                        <h2>About Us</h2>
                                        <p>ChainMap is a Blockchain developer growth platform supporting the community and eco-system.</p>
                                        
                                        <p>ChainMap provides personalized training, challenges, search capabilities, team connections and job matching.  </p>
                                        
                                        <p> Customer can earn tokens (NRC20) by posting challenges or answers, and spend tokens to get special training materials. </p> 
                                        
                                        <ul>Potential cases to spend the token
                                        
                                        
                                        <div class="widget widget_contact">
                                            <ul>
                                                <li>
                                                    <i class="icon-map-marker"></i>Address :
                                                    <p>250 W Tasman Dr. 200, San Jose, CA 95134</p>
                                                </li>
                                                <li>
                                                    <i class="icon-envelope-alt"></i>E-mail :
                                                    <p>support@chainmap.org</p>
                                                </li>
                                                <li>
                                                    <i class="icon-share"></i>Social links :
                                                    <p>
                                                        <a href="#" original-title="Facebook" class="tooltip-n">
                                                            <span class="icon_i">
                                                                <span class="icon_square" icon_size="25" span_bg="#3b5997" span_hover="#2f3239">
                                                                    <i i_color="#FFF" class="social_icon-facebook"></i>
                                                                </span>
                                                            </span>
                                                        </a>
                                                        <a href="#" original-title="Twitter" class="tooltip-n">
                                                            <span class="icon_i">
                                                                <span class="icon_square" icon_size="25" span_bg="#00baf0" span_hover="#2f3239">
                                                                    <i i_color="#FFF" class="social_icon-twitter"></i>
                                                                </span>
                                                            </span>
                                                        </a>
                                                      </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- End page-content -->
                                </div>
                                <!-- End col-md-6 -->
                            </div>
                            <!-- End contact-us -->
                        </div>
                        <!-- End row -->
                    </section>
                    <!-- End container -->


                    <!-- body footer start -->
                    <% include ./partials/body_footer %>
                        <!-- body footer end -->
        </div>
        <!-- End wrap -->

        <!-- footer started -->
        <% include ./partials/footer_js %>
            <!-- footer end -->

    </body>

</html>