<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<!-- header part start -->
<% include ./partials/header %>
    <!-- header part end -->
    <!-- body part start -->

    <body>

        <div class="loader">
            <div class="loader_html"></div>
        </div>

        <div id="wrap" class="grid_1200">

            <% include ./partials/header_login %>

                <% include ./partials/body_header %>

                    <div class="breadcrumbs">
                        <section class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>CMAP Token</h1>
                                </div>
                                
                            </div>
                            <!-- End row -->
                        </section>
                        <!-- End container -->
                    </div>
                    <!-- End breadcrumbs -->

                    <section class="container main-content page-full-width">
                        <div class="row">
                            <div class="contact-us">
                                <div class="col-md-7">
                                    <div class="page-content">
  									<b> How to get the token? </b>
  									<p>
  										  <ul> You need:
    											<li> 1. <a href="https://medium.com/nebulasio/creating-a-nas-wallet-9d01b5fa2df6" target="_blank">Setup the NAS wallet to get the token. </a>
    											<li> 2. <a href="/questionBoard">Attend challenge board to post challenges and put answers or vote</a>
   											 	<li> 3. <a href="https://explorer.nebulas.io/#/address/n1ykjrnTKZyVpH1mytEMf9dopyLDpWJDeKp">smart contract Decides the incentives</a>    
										    </ul>
 									 </p>
  
 									 <p>
										<ul> <b>These shall be supported:</b>
										<li>1. Post Challenges </li>
										<li>2. Post Answers </li>
										<li>3. Post Articles </li>
										<li>4. Share Solutions </li>
										<li>5. Review White Paper </li>
										<li>6. Review Job </li>
										<li>7. Contribute GitHub </li>
										<li>8. Contribute Contents </li>
										<li>9. Recommend events </li>
										</ul>
									  </p>
  
                                    <!-- End page-content -->
                                    </div>
                                </div>
                                
                                <!-- End col-md-6 -->
                                <div class="col-md-5">
                                    <div class="page-content">
 
									 <b> How to spend the token? </b>
 
									  <p>
										<ul> <b>These shall be supported:</b>
										<li>1. Post Jobs
										<li>2. Promote Job Events
										<li>3. Promote Company events
										<li>4. Training Course Rev Share
										<li>5. Job Hire Rev Share
										<li>6. Buy training materials
										<li>7. Buy certifications
										<li>8. Personalized Guidance
										<li>9. Team build
										<li>10. Find candidates
										<li>11. Solution Consulting
	
										</ul>
									  </p>


 
 
                                    </div>
                                     <!-- End page-content -->
                                </div>
                                <!-- End col-md-6 -->
                            </div>
                            <!-- End contact-us -->
                        </div>
                        <!-- End row -->
                    </section>
                    <!-- End container -->


                    <!-- body footer start -->
                    <% include ./partials/body_footer %>
                        <!-- body footer end -->
        </div>
        <!-- End wrap -->

        <!-- footer started -->
        <% include ./partials/footer_js %>
            <!-- footer end -->

    </body>

</html>
