<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<!-- header part start -->
<% include ./partials/header %>
    <!-- header part end -->
    <!-- body part start -->

    <body>

        <div class="loader">
            <div class="loader_html"></div>
        </div>

        <div id="wrap" class="grid_1200">


            <% include ./partials/header_login %>

                <% include ./partials/body_header %>

                     <div class="section-warp ask-me">
                        <div class="container clearfix">
                            <div class="box_icon box_warp box_no_border box_no_background" box_border="transparent" box_background="transparent" box_color="#FFF">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>Chainmap 001: Top 5 Blockchain Stories and Get Connected with the Space!</h2>
                                        <div class="clearfix"></div>
                                        <!-- <a class="color button dark_button medium" href="#">About Us</a>
                                        <a class="color button dark_button medium" href="#">Join Now</a> -->
                                    </div>

                                </div>
                                <!-- End row -->
                            </div>
                            <!-- End box_icon -->
                        </div>
                        <!-- End container -->
                    </div>
                    <!-- End section-warp -->
                    

 
                    <section class="container main-content page-full-width">

                        <div class="row">                                    
          					<div class="col-md-12">					
                                <div class="page-content">                     
                                
								<center> <h2> Space Engagement</h2></center>  
								<p>
								<form action="/getPayContent" target="_blank">
  									Coupon Code:<br>
 									 <input type="text" name="coupon" value="">
 									 <input type="submit" value="Submit">
								</form> 
									<li><% if ((typeof coupon != 'undefined') && coupon=="YES") { console.log("xxx"); %> <a href="/blockchain-groups.xlsx"><h3>Download and engage with top cryto social groups today</h3></a><%}%>
								</p>								
									
								
								</div>
							</div>
							
                        </div>                   
                        <!-- End row -->



<!--0--->                                             
                        <div class="row">                                    
          					<div class="col-md-12">					
                                <div class="page-content">                     
                                
								<center> <h2> Summary</h2></center>  
								<p>
									These top 5 companies listed below (Ethereum/Lisk/Storj/Lisk/Neo) have a return of 60x to 1400x. You can learn their success and engage with them by reading the white paper, Joining their social groups and checking their news and articles.  This introduction map for these blockchain solutions(chainmap) can give us a very good understanding on what they do, how they do and what you can learn/connect.
								</p>
								
								<h3>Some common parts found</h3>
									<ul>
									<li> (1) Their white paper are similar to their most successful parent <a href="https://bitcoin.org/bitcoin.pdf">Bitcoin</a>, simple structure but well focused on key concepts and methods.
									<li> (2) They all covered big sectors with the first of the kind solutions
									<li> (3) They covered corner cases in their white paper well, but in reality there are problems not covered in paper
									<li> (4) Hype does not help the company in long term, but real use cases resolution in big sector is the foundation for winning  
									</ul>
									
								
								</div>
							</div>
							
                        </div>                   
                        <!-- End row -->


<!--1--->                                             
                        <div class="row">                                    
          					<div class="col-md-12">					
                                <div class="page-content">                     
                                
								<center> <h2> Ethereum</h2></center>  
								
								<p> <h3>ICO Success</h3>
									According to <a href="https://icostats.com/roi-since-ico">ICO state</a>
									<table border="1" width="500"> 
										<tr align="left">
											<th> <b>ICO Date</b> </th>
											<th> <b>ICO Price </b></th>
											<th> <b>Current Price </b></th>
											<th> <b>Return </b></th>
										</tr>
										<tr align="left">
											<td> 2014-07-21 </td>
											<td> 0.311 </td>
											<td> 460.830 </td>
											<td> 147877% </td>
											
										</tr>

									</table>
									
								</p>
								
								<p> <h3>What is it?</h3>
								
							    What Ethereum intends to provide is a blockchain with a built-in fully fledged Turing-complete programming language that can be used to create "contracts" that can be used to encode arbitrary state transition functions, allowing users to create any of the systems described above, as well as many others that we have not yet imagined, simply by writing up the logic in a few lines of code
							
								</p>
								
								<h3>White Paper and Solution Presenting</h3>
								<li><a href="https://github.com/ethereum/wiki/wiki/White-Paper">Ethereum White Paper</a> is a good example of a white paper structure. It has these sections and most in plain text and simple graph:
								(1) Introduction to Bitcoin and Existing Concepts - Make people understand the current situation (2) Ethereum - present the problem of bitcoin (3) Applications - The end use cases by using the solution (4) Miscellanea And Concerns - The deeper thinking on certain issues (5) Conclusion (5) Further reading.
						
								
								<br>
							    <br>
								<h4>The problem presented by the white paper:</h4>	
								<center>
								<table> <tr><td width="500"><img src="/image/paycontents/chainmap-01/eth-wp-problem.jpg">
								</td></tr></table>
								</center>
								<br>
								<h4>The solution presented by the white paper:</h4>
								<center>
								<table> <tr><td width="500"><img src="/image/paycontents/chainmap-01/eth-wp-solution.jpg">
								</td></tr></table>
								</center>
								
								<br>
								
								
								</p>
								
								
								
								<p> <h3>Token Eco system </h3></p>
								<a href="https://blog.coinbase.com/a-beginners-guide-to-ethereum-tokens-fbd5611fe30b">Article "A beginner’s guide to Ethereum tokens"</a> describes well on how the token works with ICO.
								
								<p> <h3>Challenges, News and Eco-system</h3></p>
								
								This dec 15, 2017 <a href="https://www.ethnews.com/parity-appears-to-back-away-from-hard-fork-solution">article "Ether freezing problem and hard fork solution"</b></a> stated the problem which led to  the freezing of over 500,000 Ether housed in certain of the company's multi-signature hardware wallets, which cannot be retrieved as long as the bug persists. 
								
								This Aug 3, 2018 <a href="https://bcfocus.com/news/ethereum-blockchain-will-be-dethroned-by-newer-ones-very-soon-binance-ceo/20214/">article "Ethereum blockchain will be dethroned by newer ones very soon: Binance CEO"</b></a> stated that it will soon be dethroned by much faster ones. He thinks the existing blockchains will cede the field to more specialized ones.
																
								
								<p> <h3>Connect Info </h3>
							
                                <ul>
                                <li> Web Url: <a href="ethereum.org">ethereum.org</a>
								<li> Company e-mail: info@ethereum.org
 								<li> Company's Twitter: <a href="https://twitter.com/ethereumproject">https://twitter.com/ethereumproject</a>
 								<li> Company's Blog: <a href="https://blog.ethereum.org/">https://blog.ethereum.org/</a>
								<li> CEO'Twitter: <a href="https://twitter.com/vladzamfir">https://twitter.com/vladzamfir</a>
								<li> CEO's email: vlad@ethereum.org
								<li> Facebook Group (131k+ followers): https://www.facebook.com/groups/Ethereum/
								<li> Reddit fgroup (374k+ followers) https://www.reddit.com/r/ethereum/
								</ul>
										
								</p>        
								      

						        </div>	
											        
                        	</div>   
                              	         
                        </div>                   
                        <!-- End row -->
 
 <!--2--->                                             
                        <div class="row">                                    
          					<div class="col-md-12">					
                                <div class="page-content">                     
                                
								<center> <h2> Lisk</h2></center>  
								
								<p> <h3>ICO Success</h3>
									According to <a href="https://icostats.com/roi-since-ico">ICO state</a>
									<table border="1" width="500"> 
										<tr align="left">
											<th> <b>ICO Date</b> </th>
											<th> <b>ICO Price </b></th>
											<th> <b>Current Price </b></th>
											<th> <b>Return </b></th>
										</tr>
										<tr align="left">
											<td> 2016-02-21 </td>
											<td> 0.076 </td>
											<td> 4.98 </td>
											<td> 6414% </td>
											
										</tr>

									</table>
									
								</p>
								
								<p> <h3>What is it?</h3>
								
							   By utilizing sidechain technology, Lisk’s SDK enables developers to build powerful and scalable blockchain applications, which include custom tokens. With special focus on usability and accessibility, Lisk aims to become the foremost platform for blockchain application development in the world. Headquartered in Zug, Switzerland, Lisk raised over 14,000 Bitcoins during its ICO in Q1 2016.

		
								</p>
								
								<h3>White Paper and Solution Presenting</h3>
								<li><a href="https://d1l2zzodn88ssp.cloudfront.net/wp-content/uploads/2016/02/07084748/LiskWhitepaper">Lisk White Paper</a> is a simple function and concept list of the platform. Two levels structure.
								(1) Introduction - Highlights the key innovations is the first on decentralized application solution written entirely in Node.js (2) Clients - Describes various clients of the platform  (3) Consensus -  Shows how the DPOS consensus work (4) Core Features - Lists the features (5) Decentralized Applications - Lists Dapp lifecycle issues (6) Appedix
						
								
								
								<br>
							    <br>
								<h4>The problem presented by the white paper:</h4>	
								<center>
								The white paper did not tell the problem, but hinted that there is no other similar solutions available.
								</center>
								<br>
								<h4>The solution presented by the white paper:</h4>
								<center>
								<table> <tr><td width="500"><img src="/image/paycontents/chainmap-01/lisk-wp-solution.jpg">
								</td></tr></table>
								</center>
								
								<br>
								
								
								</p>
								
								
								
								<p> <h3>Token Eco system </h3>
								Like NEO and Ethereum, the Lisk network is a decentralized application network that uses smart contracts powered by LSK tokens to provide developers with a platform to create magic on. 
								
								</p>
								
								<p> <h3>News and Eco-system</h3>
								In a <a href="https://captainaltcoin.com/lisk-lsk-is-losing-its-first-mover-advantage/">recent article </a>, the author said LISK is losing the first-mover-advantage.
								
								</p>
								
								
								
								<p> <h3>Connect Info </h3>
			
                               <ul>
                                <li> Web Url: <a href="lisk.io">lisk.io</a>
								<li> Company e-mail: info@ethereum.org
 								<li> Company's Twitter: <a href="https://twitter.com/liskhq">https://twitter.com/liskhq</a>
 								<li> Company's Blog: <a href="https://blog.lisk.io/">https://blog.lisk.io/</a>
								<li> CEO'Twitter: <a href="https://twitter.com/maxkordek">https://twitter.com/maxkordek</a>
								<li> CEO's email: max@lisk.io
								<li> Reddit fgroup (30K+ followers) https://www.reddit.com/r/Lisk/
								</ul>
 				
								</p>        
								      

						        </div>	
											        
                        	</div>   
                              	         
                        </div>                   
                        <!-- End row -->
                       
  <!--3--->                                             
                        <div class="row">                                    
          					<div class="col-md-12">					
                                <div class="page-content">                     
                                
								<center> <h2> Storj</h2></center>  
								
								<p> <h3>ICO Success</h3>
									According to <a href="https://icostats.com/roi-since-ico">ICO state</a>
									<table border="1" width="500"> 
										<tr align="left">
											<th> <b>ICO Date</b> </th>
											<th> <b>ICO Price </b></th>
											<th> <b>Current Price </b></th>
											<th> <b>Return </b></th>
										</tr>
										<tr align="left">
											<td> 2014-07-17 </td>
											<td> 0.009 </td>
											<td> 0.63 </td>
											<td> 6889% </td>
											
										</tr>

									</table>
									
								</p>
								
								<p> <h3>What is it?</h3>
								
							   A peer-to-peer cloud storage network implementing client-side encryp- tion would allow users to transfer and share data without reliance on a third party storage provider.
		
								</p>
								
								<h3>White Paper and Solution Presenting</h3>
								<li> <a href="https://storj.io/storj.pdf">Storj White Paper</a> again is a simple function and concept list of the platform. Again two levels structure.
								(1) Introduction - Highlights the key advantages of A decentralized cloud storage network (2) Design - Describes the protocol that enables peers on the network to negotiate contracts, transfer data ect.  (3) Network Access -  Shows how the bridge services work (4) Future Areas of Research - Forward thinking. (5) Attacks - Lists issues.
						
								
								
							    <br>
							    <br>
								<h4>The problem presented by the white paper:</h4>	
								<center>
								<table> <tr><td width="500"><img src="/image/paycontents/chainmap-01/storj-wp-problem.jpg">
								</td></tr></table>
								</center>
								
								<br>
								<h4>The solution presented by the white paper:</h4>
								<center>
								<table> <tr><td width="500"><img src="/image/paycontents/chainmap-01/storj-wp-solution.jpg">
								</td></tr></table>
								</center>
								
								<br>
								
								
								</p>
								
								
								
								<p> <h3>Token Eco system </h3></p>
								
								<a href="https://www.coindesk.com/300-million-lockup-storj-clarifies-token-economics-surprise-reveal/">Article explained that Storj token economics.</a>
								
								<p> <h3>News and Eco-system</h3>
								
								This dec 12, 2017 <a href="https://www.ethnews.com/parity-appears-to-back-away-from-hard-fork-solution">article "Distributed Hash Tables"</b></a> stated the distributed hash table market and the Storj version of it.

								</p>								
								<p> <h3>Connect Info </h3>
		
			
                               <ul>
                                <li> Web Url: <a href="https://storj.me/2p1PybM">https://storj.me/2p1PybM</a>
								<li> Company e-mail: info@ethereum.org
 								<li> Company's Twitter: <a href="https://twitter.com/storjproject">https://twitter.com/storjproject</a>
								<li> CEO'Twitter: <a href="https://twitter.com/super3">https://twitter.com/super3</a>
								<li> CEO's email: shawn@storj.io
								</ul>
 				
								</p>        
								      

						        </div>	
											        
                        	</div>   
                              	         
                        </div>                   
                        <!-- End row -->
 <!--4--->                                             
                        <div class="row">                                    
          					<div class="col-md-12">					
                                <div class="page-content">                     
                                
								<center> <h2> IOTA</h2></center>  
								
								<p> <h3>ICO Success</h3>
									According to <a href="https://icostats.com/roi-since-ico">ICO state</a>
									<table border="1" width="500"> 
										<tr align="left">
											<th> <b>ICO Date</b> </th>
											<th> <b>ICO Price </b></th>
											<th> <b>Current Price </b></th>
											<th> <b>Return </b></th>
										</tr>
										<tr align="left">
											<td> 2016-02-21 </td>
											<td> 0.076 </td>
											<td> 4.98 </td>
											<td> 6414% </td>
											
										</tr>

									</table>
									
								</p>
								
								<p> <h3>What is it?</h3>
								
							    A cryptocurrency for the Internet-of-Things (IoT) industry.
		
								</p>
								
								<h3>White Paper and Solution Presenting</h3>
								<li><a href="http://iotatoken.com/IOTA_Whitepaper.pdf">IOTA White Paper</a> is a simple function and concept list of the platform. Almost a one-level structure. Looks like a boring academic paper.
								(1)  Introduction and description of the system - Highlights the transaction fees of the drawback of old solutions. (2) Weights and more - defines the weight of a transaction  (3)  Stability of the system, and cutsets  (4)  Possible attack scenarios  (5)  Resistance to quantum computations
								
								
							    <br>
							    <br>
								<h4>The problem presented by the white paper:</h4>	
								<center>
								<table> <tr><td width="500"><img src="/image/paycontents/chainmap-01/iota-wp-problem.jpg">
								</td></tr></table>
								</center>
								<br>
								<h4>The solution presented by the white paper:</h4>
								<center>
								<table> <tr><td width="500"><img src="/image/paycontents/chainmap-01/iota-wp-solution.jpg">
								</td></tr></table>
								</center>
								
								<br>
								
								
								</p>
								
								
								
								<p> <h3>Token Eco system </h3>
								<a href="https://exmo.com/en/news_view?id=2067">Article "IOTA Coin - history, characteristics and facts"</a> explained well.
								
								</p>
								
								
								<p> <h3>News and Eco-system</h3>
								
								<a href="https://cryptodaily.co.uk/2018/08/sirin-labs-crush-iota-with-this-announcement/">News "Sirin Labs Crush IOTA With This Announcement"</a> told the story of the switch from IOTA to Ethereum.
								
								</p>
								
								<p> <h3>Connect Info </h3>
			
                               <ul>
                                <li> Web Url: <a href="lhttps://www.iota.org/">https://www.iota.org/</a>
 								<li> Company's Twitter: <a href="https://twitter.com/iotatoken?lang=en">https://twitter.com/iotatoken?lang=en</a>
 								<li> Company's Blog: <a href="https://blog.iota.org/">https://blog.iota.org/</a>
								<li> CEO'Twitter: <a href="https://twitter.com/domschiener?lang=en">https://twitter.com/domschiener?lang=en</a>
								<li> Facebook Group (11k+ followers): https://www.facebook.com/groups/iotacoin/
								<li> Reddit fgroup (4K+ followers) https://www.reddit.com/r/Iota/
								</ul>
 				
								</p>        
								      

						        </div>	
											        
                        	</div>   
                              	         
                        </div>                   
                        <!-- End row -->
 <!--5--->                                             
                        <div class="row">                                    
          					<div class="col-md-12">					
                                <div class="page-content">                     
                                
								<center> <h2> NEO </h2></center>  
								
								<p> <h3>ICO Success</h3>
									According to <a href="https://icostats.com/roi-since-ico">ICO state</a>
									<table border="1" width="500"> 
										<tr align="left">
											<th> <b>ICO Date</b> </th>
											<th> <b>ICO Price </b></th>
											<th> <b>Current Price </b></th>
											<th> <b>Return </b></th>
										</tr>
										<tr align="left">
											<td> 2015-09-30 </td>
											<td> 0.032 </td>
											<td> 32.828 </td>
											<td> 103133% </td>
											
										</tr>

									</table>
									
								</p>
								
								<p> <h3>What is it?</h3>
								
							   NEO is the use of blockchain technology and digital identity to digitize assets, the use of smart contracts for digital assets to be self-managed, to achieve "smart economy" with a distributed network.
		
								</p>
								
								<h3>White Paper and Solution Presenting</h3>
								<li><a href="http://docs.neo.org/en-us/index.html">Neo White Paper</a> is a simple function and concept list of the platform.
								(1) NEO design goals: Smart Economy - Highlights how NEO handles the digital assets.(2) CNEO Management Model - Describes the token distribution (3) NEO technology implementation - Describes the dBFT consensus and neoVM smart contract system.
							
						
								
								
							    <br>
							    <br>
								<h4>The problem presented by the white paper:</h4>	
								<center>
								The white paper did not tell the problem, but mentioned a new term "smart economy".
								</center>
								<br>
								<h4>The solution presented by the white paper:</h4>
								<center>
								<table> <tr><td width="500"><img src="/image/paycontents/chainmap-01/neo-wp-solution.jpg">
								</td></tr></table>
								</center>
								
								<br>
								
								
								</p>
								
								
								
								<p> <h3>Token Eco system </h3></p>
								
								<p> <h3>News and Eco-system</h3></p>
										
								This dec 2017 <a href="https://nichehunt.com/neo-the-chinese-ethereum-passes-50-as-it-aims-for-global-domination-in-2018/">article "NEO: ‘THE CHINESE ETHEREUM’ PASSES $50 AS IT AIMS FOR GLOBAL DOMINATION IN 2018"</b></a> stated a few rumors associated with NEO such as Microsoft partnership or government approval. 
							
								
								<p> <h3>Connect Info </h3>
                                <ul>
                                <li> Web Url: <a href="neo.org">neo.org</a>
								<li> Company e-mail: contact@neo.org
 								<li> Company's Twitter: <a href="https://twitter.com/neo_blockchain">https://twitter.com/neo_blockchain</a>
 								<li> Company's Blog: <a href="https://neo.org/blog">https://neo.org/blog</a>
								<li> Facebook Group (42k+ followers): https://www.facebook.com/groups/NEO.Antshares/
								<li> Reddit fgroup (95k+ followers) https://www.reddit.com/r/NEO/
								</ul>
 				
								</p>        
								      

						        </div>	
											        
                        	</div>   
                              	         
                        </div>                   
                        <!-- End row -->                                           

 
      
                    </section>
                 
                    <!-- End container -->

                    <!-- body footer start -->
                    <% include ./partials/body_footer %>
                        <!-- body footer end -->
        </div>
        <!-- End wrap -->

        <!-- footer started -->
        <% include ./partials/footer_js %>
            <!-- footer end -->


    </body>

</html>