<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<!-- header part start -->
<% include ./partials/header %>
    <!-- header part end -->
    <!-- body part start -->

    <body>

        <div class="loader">
            <div class="loader_html"></div>
        </div>

        <div id="wrap" class="grid_1200">


            <% include ./partials/header_login %>

                <% include ./partials/body_header %>

                     <div class="section-warp ask-me">
                        <div class="container clearfix">
                            <div class="box_icon box_warp box_no_border box_no_background" box_border="transparent" box_background="transparent" box_color="#FFF">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>Welcome to the Chainmap News Center</h2>
                                        <div class="clearfix"></div>
                                        <!-- <a class="color button dark_button medium" href="#">About Us</a>
                                        <a class="color button dark_button medium" href="#">Join Now</a> -->
                                    </div>

                                </div>
                                <!-- End row -->
                            </div>
                            <!-- End box_icon -->
                        </div>
                        <!-- End container -->
                    </div>
                    <!-- End section-warp -->
                    

                    <section class="container main-content page-full-width">
                        <div class="row">
          					<div class="col-md-12">
          					
          						<% for (let i=0; i<data.length; i++) {%>
                                <div class="page-content">
				  

								<center> <h2> <%=data[i].name%> </h2></center>  
								<p> <%=data[i].description%> </p>
								<br>
								<center>  <a href=<%=data[i].event_link%>><b>Event Info</b></a> </center>
								<br>
								<center><img src=<%='/image/events/'+data[i].event_img_name%> height="280"></center>                    
						        </div>
						        
						        <% } %>
	
						        
                        	</div>             
                        </div>
                        <!-- End row -->
                    </section>
                    <!-- End container -->

                    <!-- body footer start -->
                    <% include ./partials/body_footer %>
                        <!-- body footer end -->
        </div>
        <!-- End wrap -->

        <!-- footer started -->
        <% include ./partials/footer_js %>
            <!-- footer end -->


    </body>

</html>