<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<!-- header part start -->
<% include ./partials/header %>
    <!-- header part end -->
    <!-- body part start -->

    <body>

        <div class="loader">
            <div class="loader_html"></div>
        </div>

        <div id="wrap" class="grid_1200">








            <% include ./partials/header_login %>

                <% include ./partials/body_header %>

                    <div class="section-warp ask-me">
                        <div class="container clearfix">
                            <div class="box_icon box_warp box_no_border box_no_background" box_border="transparent" box_background="transparent" box_color="#FFF">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>ChainMap</h2>
                                        <p style="font-size: 26px !important">
                                            A blockchain developer growth platform supporting the community and ecosystem.
                                        </p>
                                        <p style="font-size: 26px !important">
                                            Contributors will get rewarded with incentive tokens!!!
                                        </p>
                                        <p>
                                            <a href="/loginRegister" class="button small green-button custom-button">Register Now</a>
                                        </p>

                                        <div class="clearfix"></div>
                                        <!-- <a class="color button dark_button medium" href="#">About Us</a>
                                    <a class="color button dark_button medium" href="#">Join Now</a> -->
                                    </div>

                                </div>
                                <!-- End row -->
                            </div>
                            <!-- End box_icon -->
                        </div>
                        <!-- End container -->
                    </div>


                    <!-- <div class="breadcrumbs">
                        <section class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <center><h1>ChainMap</h1></center>
        
									<br>
                                    <h3>The best community and learning path for blockchain developers</h3>

                                    <h4> The community enables you contributing to the society and help others and also build reputations and earn community tokens</h4>
                                </div>
                
                                <div class="col-md-12">
                                    <div class="crumbs">
                                        <a href="/loginRegister"><b>Register Today</b></a>
                                    </div>
                                </div>
                        
                            </div>
                            <!-- End row -->
                    </section>
                    <!-- End container -->
                    <!-- </div> -->
                    <!-- End breadcrumbs -->

                    <section class="container main-content page-full-width">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="columns" class="row">
                                    <div class="col-md-12">
                                        <div class="boxedtitle page-title">
                                            <h2>ChainMap Contribution for Developers</h2>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <p>
                                            <i l_background="#ff7361" l_background_hover="#34495E" class="icon-ok ul_l_circle" style="color: rgb(255, 255, 255); background-color: rgb(255, 115, 97);"></i>Challenge Board- Ask domain specific questions, and get solutions.
                                        </p>
                                        <p>
                                            <i l_background="#ff7361" l_background_hover="#34495E" class="icon-ok ul_l_circle" style="color: rgb(255, 255, 255); background-color: rgb(255, 115, 97);"></i>Knowledge Center - Find some of the best free training material out there.
                                        </p>
                                        <p>
                                            <i l_background="#ff7361" l_background_hover="#34495E" class="icon-ok ul_l_circle" style="color: rgb(255, 255, 255); background-color: rgb(255, 115, 97);"></i>Connections- Help you connect with other developers and job opportunities.
                                        </p>
                                        <p>
                                            <i l_background="#ff7361" l_background_hover="#34495E" class="icon-ok ul_l_circle" style="color: rgb(255, 255, 255); background-color: rgb(255, 115, 97);"></i>Smart Certification - Get your certificates issued on top of the blockchain.
                                        </p>
                                        <p>
                                            <i l_background="#ff7361" l_background_hover="#34495E" class="icon-ok ul_l_circle" style="color: rgb(255, 255, 255); background-color: rgb(255, 115, 97);"></i>AI based personalized recommendation for learning and career development.
                                        </p>
                                        <p>
                                            <i l_background="#ff7361" l_background_hover="#34495E" class="icon-ok ul_l_circle" style="color: rgb(255, 255, 255); background-color: rgb(255, 115, 97);"></i>Ranking - Rank higher and become a stronger developer.
                                        </p>
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <h5>For Enterprise</h5>
                                        <p>
                                            <i l_background="#ff7361" l_background_hover="#34495E" class="icon-ok ul_l_circle" style="color: rgb(255, 255, 255); background-color: rgb(255, 115, 97);"></i>Blockchain Consulting.
                                        </p>
                                        <p>
                                            <i l_background="#ff7361" l_background_hover="#34495E" class="icon-ok ul_l_circle" style="color: rgb(255, 255, 255); background-color: rgb(255, 115, 97);"></i>Smart contract development and operations.
                                        </p>
                                        <p>
                                            <i l_background="#ff7361" l_background_hover="#34495E" class="icon-ok ul_l_circle" style="color: rgb(255, 255, 255); background-color: rgb(255, 115, 97);"></i>Hire best talent.
                                        </p>
                                        <div class="clearfix gap"></div>
                                    </div> -->

                                </div>
                                <div id="columns" class="row">
                                    <div class="col-md-12">
                                        <div class="boxedtitle page-title">
                                            <h2>Featured Links</h2>
                                        </div>
                                        <div class="bx-wrapper">
                                            <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 150px;">
                                                <!-- <div class="bxslider" style="width: 1015%; position: relative; transition-duration: 0s; transform: translate3d(-1756px, 0px, 0px);"> -->
                                                    <div class="slide bx-clone" style="float: left; list-style: outside none none; position: relative; margin-right: 30px; width: 189.5px;">
                                                        <div class="grid-bxslider">
                                                            <div class="bxslider-overlay t_center">
                                                                <a href="https://consensys.net/academy/resources/" class="bxslider-title" target="_blank">
                                                                    <h4>Ethereum and Blockchain Resources</h4>
                                                                    
                                                                </a>
                                                                
                                                            </div>
                                                            <img src="/image/homepagelinks/blockChainBasics.PNG" alt="" height="120" width="190">
                                                        </div>
                                                    </div>
                                                    <div class="slide bx-clone" style="float: left; list-style: outside none none; position: relative; margin-right: 30px; width: 189.5px;">
                                                        <div class="grid-bxslider">
                                                            <div class="bxslider-overlay t_center">
                                                                <a href="https://medium.com/coinmonks/top-dapp-tutorial-series-2e70c0d79782" class="bxslider-title" target="_blank">
                                                                    <h4>Top Dapp tutorials Series – Coinmonks – Medium</h4>
                                                                    
                                                                </a>
                                                                
                                                                
                                                            </div>
                                                            <img src="/image/homepagelinks/1 YWZEVCk8u4xlwyGhRe149g.jpeg" alt="" height="120" width="190">
                                                        </div>
                                                    </div>
                                                    <div class="slide bx-clone" style="float: left; list-style: outside none none; position: relative; margin-right: 30px; width: 189.5px;">
                                                        <div class="grid-bxslider">
                                                            <div class="bxslider-overlay t_center">
                                                                <a href="https://blockgeeks.com/guides/" class="bxslider-title" target="_blank">
                                                                    <h4>Guides for Blockchain Geeks</h4>
                                                                </a>
                                                                
                                                            </div>
                                                            <img src="/image/homepagelinks/blockgeeks.png" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="slide bx-clone" style="float: left; list-style: outside none none; position: relative; margin-right: 30px; width: 189.5px;">
                                                        <div class="grid-bxslider">
                                                            <div class="bxslider-overlay t_center">
                                                                <a href="https://bitcoin.org/bitcoin.pdf" class="bxslider-title" target="_blank">
                                                                    <h4>What is Bitcoin? Learn More about Bitcoint</h4>
                                                                    
                                                                </a>
                                                                
                                                                
                                                            </div>
                                                            <img src="/image/homepagelinks/bitcoin-price-live-987029.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="slide" style="float: left; list-style: outside none none; position: relative; margin-right: 30px; width: 189.5px;">
                                                        <div class="grid-bxslider">
                                                            <div class="bxslider-overlay t_center">
                                                                <a href="https://www-01.ibm.com/common/ssi/cgi-bin/ssialias?htmlfid=XIM12354USEN" class="bxslider-title" target="_blank">
                                                                    <h4>E-Book: Blockchain for Dummies</h4>
                                                                </a>
                                                                
                                                                
                                                            </div>
                                                            <img src="/image/homepagelinks/blockchaindummy.png" alt="">
                                                        </div>
                                                    </div>

                                                <!-- </div> -->
                                            </div>
                                                
                                        </div>
                                    </div>



                                </div>
                            </div>
                            <!-- End main -->
                        </div>
                        <!-- End row -->
                    </section>
                    <!-- End container -->

                    <!-- body footer start -->
                    <% include ./partials/body_footer %>
                        <!-- body footer end -->
        </div>
        <!-- End wrap -->

        <!-- footer started -->
        <% include ./partials/footer_js %>
            <!-- footer end -->
    </body>

</html>