<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<!-- header part start -->
<% include ./partials/header %>
    <!-- header part end -->
    <!-- body part start -->

    <body>

        <script type ="text/javascript">                                                                
            function logClick(obj)
            {
                var link = obj.getAttribute("href");
                var t = obj.getAttribute("type");
                $.post("http://" + $(location).attr("hostname") + "/log", {id:link, type:t});
                return true;
            }
        </script>

        <div class="loader">
            <div class="loader_html"></div>
        </div>

        <div id="wrap" class="grid_1200">


            <% include ./partials/header_login %>

                <% include ./partials/body_header %>
                <div class="section-warp ask-me">
                        <div class="container clearfix">
                            <div class="box_icon box_warp box_no_border box_no_background" box_border="transparent" box_background="transparent" box_color="#FFF">
                                <div class="row">
                                    <div class="col-md-12">
                                    	<h2>ChainMap</h2>
                                        <!--
                                        <h2>ChainMap <a href="/loginRegister" class="button small green-button custom-button">Register/Login Now</a></h2> 
                                        -->
                                        <p style="font-size: 26px !important">
                                            A blockchain developer growth platform supporting the community and ecosystem.
                                        </p>
                                        <p style="font-size: 26px !important">
                                            Contributors will get rewarded with incentive tokens!!!
                                        </p>

                                        <div class="clearfix"></div>
                                        <!-- <a class="color button dark_button medium" href="#">About Us</a>
                                    <a class="color button dark_button medium" href="#">Join Now</a> -->
                                    </div>

                                </div>
                                <!-- End row -->
                            </div>
                            <!-- End box_icon -->
                        </div>
                        <!-- End container -->
                    </div>

                    <section class="container main-content page-full-width">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="columns" class="row">
                                    
                                    <!-- <div class="col-md-12">
                                        <div class="boxedtitle page-title">
                                            <h2>ChainMap Contribution for Developers</h2>
                                        </div>
                                    </div> -->
                                   
                                    <div class="col-md-12">
                                        <p>
                                            <i l_background="#ff7361" l_background_hover="#34495E" class="icon-ok ul_l_circle" style="color: rgb(255, 255, 255); background-color: rgb(255, 115, 97);"></i><a href="/trainingMaterial">Knowledge Center</a> - Find some of the best blockchain training material out there (White Papers including Chinese ones!).
                                        </p>
                                        <p>
                                            <i l_background="#ff7361" l_background_hover="#34495E" class="icon-ok ul_l_circle" style="color: rgb(255, 255, 255); background-color: rgb(255, 115, 97);"></i><a href="/questionBoard">Challenge Board</a>- Ask domain specific challenges, and get solutions (Nebulas, Etherum, HyberLedger, dApp...).
                                        </p>
                                        <p>
                                            <i l_background="#ff7361" l_background_hover="#34495E" class="icon-ok ul_l_circle" style="color: rgb(255, 255, 255); background-color: rgb(255, 115, 97);"></i><a href="/loginRegister">Connections</a>- Sign on to get you connect with other developers and job opportunities and connect with blockchain groups.
                                        </p>
                                        <p>
                                            <i l_background="#ff7361" l_background_hover="#34495E" class="icon-ok ul_l_circle" style="color: rgb(255, 255, 255); background-color: rgb(255, 115, 97);"></i><a href="/loginRegister">Certification</a> - Sign on to get your development skills certified and ranking higher on top of the blockchain. 
                                        </p>
                                        <p>
                                            <i l_background="#ff7361" l_background_hover="#34495E" class="icon-ok ul_l_circle" style="color: rgb(255, 255, 255); background-color: rgb(255, 115, 97);"></i><a href="/loginRegister">Recommendation</a> - Sign on to have AI based personalized recommendation for learning and career development. 
                                        </p>
                                        <!--
                                        <p>
                                        <center><a href="/loginRegister" class="button small green-button custom-button">Register Now</a></center>
                                        </p>
                                        -->

                                    </div>
                                    <!-- <div class="col-md-6">
                                        <h5>For Enterprise</h5>
                                        <p>
                                            <i l_background="#ff7361" l_background_hover="#34495E" class="icon-ok ul_l_circle" style="color: rgb(255, 255, 255); background-color: rgb(255, 115, 97);"></i>Blockchain Consulting.
                                        </p>
                                        <p>
                                            <i l_background="#ff7361" l_background_hover="#34495E" class="icon-ok ul_l_circle" style="color: rgb(255, 255, 255); background-color: rgb(255, 115, 97);"></i>Smart contract development and operations.
                                        </p>
                                        <p>
                                            <i l_background="#ff7361" l_background_hover="#34495E" class="icon-ok ul_l_circle" style="color: rgb(255, 255, 255); background-color: rgb(255, 115, 97);"></i>Hire best talent.
                                        </p>
                                        <div class="clearfix gap"></div>
                                    </div> -->

                                </div>




                            <div class="col-md-12">
                                <div class="page-content">
                                <!--
                                    <div class="boxedtitle page-title">
                                        <h2>BlockChain Space Finding</h2>
                                    </div>
                                    -->
                                    <div class="page-content">
                                        <form class="form-style form-style-3 form-style-5" action="javascript:">
                                            <div class="form-inputs clearfix">
                                                <p>
                                                    <label class="required">Select Category
                                                        <span>*</span>
                                                    </label>
                                                    <span class="styled-select">
                                                        <select required id="category" name="category" required>
                                                            <option value="White_Paper">White Papers</option>
                                                            <option value="company">Company</option>
                                                            <option value="event">Event</option>
                                                            <option value="ICO">ICO</option>
                                                            <option value="article">Article</option>
                                                            <option value="All">All</option>

                                                        </select>
                                                    </span>
                                                </p>
                                                <p>
                                                    <label class="required">Keyword
                                                    </label>
                                                    <input id="querybox" type="text" aria-required="true" placeholder="Blockchain" required>
                                                </p>

                                            </div>


                                            <p class="form-submit">
                                                <input name="submit" value="Search" width="100" class="submit button medium color" type="submit" onclick="search()">
                                            </p>
                       
                                        </form>
                                    </div>
                                    <div class="row" id="result_display">
                                        <p id="numResults"></p>


                                        <!-- <p id="foundResults"></p> -->
                                    </div>

                                    <div class="row">
                                        <div class="list-group" id="foundResults">

                                        </div>
                                    </div>


                                </div>
                                <!-- End page-content -->
                            </div>

							
                                    <div id="columns" class="row">
                                        <div class="col-md-12">
                                            <br>
                                            <div class="boxedtitle page-title">
                                                <h2>Featured Links</h2>
                                            </div> 
                                       
                                            <div class="bx-wrapper">
                                                <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 150px;">
                                                    <!-- <div class="bxslider" style="width: 1015%; position: relative; transition-duration: 0s; transform: translate3d(-1756px, 0px, 0px);"> -->
                                                        <div class="slide bx-clone" style="float: left; list-style: outside none none; position: relative; margin-right: 30px; width: 189.5px;">
                                                            
                                                            <div class="grid-bxslider">
                                                                <div class="bxslider-overlay t_center">
                                                                    <a href="https://consensys.net/academy/resources/" onclick = "return logClick(this);" class="bxslider-title" target="_blank" type="training material">
                             
                                                                        <h3>Ethereum and Blockchain Resources</h3>
                                                                    </a>
                                                                    
                                                                </div>
                                                               
                                                                <img src="/image/homepagelinks/blockChainBasics.PNG" alt="" height="120" width="190">
                                                            </div>
                                                             
                                                        </div>
                                                        <div class="slide bx-clone" style="float: left; list-style: outside none none; position: relative; margin-right: 30px; width: 189.5px;">
                                                            <div class="grid-bxslider">
                                                                <div class="bxslider-overlay t_center">
                                                                    <a href="https://medium.com/coinmonks/top-dapp-tutorial-series-2e70c0d79782" onclick = "return logClick(this);" class="bxslider-title" target="_blank" type="training material">
                                                                        <h3>Top Dapp tutorials Series – Coinmonks – Medium</h3>
                                                                        
                                                                    </a>
                                                                    
                                                                    
                                                                </div>
                                                                <img src="/image/homepagelinks/1 YWZEVCk8u4xlwyGhRe149g.jpeg" alt="" height="120" width="190">
                                                            </div>
                                                        </div>
                                                        <div class="slide bx-clone" style="float: left; list-style: outside none none; position: relative; margin-right: 30px; width: 189.5px;">
                                                            <div class="grid-bxslider">
                                                                <div class="bxslider-overlay t_center">
                                                                    <a href="https://blockgeeks.com/guides/" onclick = "return logClick(this);"  class="bxslider-title" target="_blank" type="training material">
                                                                        <h3>Guides for Blockchain Geeks</h3>
                                                                    </a>
                                                                    
                                                                </div>
                                                                <img src="/image/homepagelinks/blockgeeks.png" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="slide bx-clone" style="float: left; list-style: outside none none; position: relative; margin-right: 30px; width: 189.5px;">
                                                            <div class="grid-bxslider">
                                                                <div class="bxslider-overlay t_center">
                                                                    <a href="https://bitcoin.org/bitcoin.pdf" onclick = "return logClick(this);" class="bxslider-title" target="_blank" type="training material">
                                                                        <h3>What is Bitcoin? Learn More about Bitcoint</h3>
                                                                        
                                                                    </a>
                                                                    
                                                                    
                                                                </div>
                                                                <img src="/image/homepagelinks/bitcoin-price-live-987029.jpg" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="slide" style="float: left; list-style: outside none none; position: relative; margin-right: 30px; width: 189.5px;">
                                                            <div class="grid-bxslider">
                                                                <div class="bxslider-overlay t_center">
                                                                    <a href="https://www-01.ibm.com/common/ssi/cgi-bin/ssialias?htmlfid=XIM12354USEN" onclick = "return logClick(this);" class="bxslider-title" target="_blank" type="training material">
                                                                        <h3>E-Book: Blockchain for Dummies</h3>
                                                                    </a>
                                                                    
                                                                    
                                                                </div>
                                                                <img src="/image/homepagelinks/blockchaindummy.png" alt="">
                                                            </div>
                                                        </div>
    
                                                    <!-- </div> -->
                                                </div>
                                                    
                                            </div>
                                        </div>
    
    
    
                                    </div>
                            </div>
                            <!-- End main -->
                        </div>
                        <!-- End row -->
                    </section>
                    <!-- End container -->

                    


                    <!-- body footer start -->
                    <% include ./partials/body_footer %>
                        <!-- body footer end -->
        </div>
        <!-- End wrap -->

        <!-- footer started -->
        <% include ./partials/footer_js %>
            <!-- footer end -->
            
                  <script type="text/javascript">
                function search() {
                    var query = document.getElementById("querybox").value;

                    //http://chainmap.org/query/All/bitcoin
                    var reqUrl = "./query/" + document.getElementById("category").value + "/" + encodeURI(query);


                    $.get(reqUrl, function (data) {

                        document.getElementById("numResults").innerHTML = "Found " + data.response.numFound + " results in category " + document.getElementById("category").value;;
                        var docs = data.response.docs;

                        // document.getElementById("results1").innerHTML = docs[1].title;
                        var resultsNode = document.getElementById("foundResults");
                        while (resultsNode.firstChild) {
                            resultsNode.removeChild(resultsNode.firstChild);
                        };

                        $.each(docs, function (index, value) {
                            var img = value.category + ".png";
                            var url = String(value.url);
                            //alert(url.length);
                            if(url.startsWith("http")) {
                                //alert(url);
                            } else {
                                url = "/resource/"+value.category+"/"+value.title;
                            }
                            document.getElementById("foundResults").innerHTML += (
                                '<div class="row" margin-bottom: 4px>' +
                                '<div class="col-sm-2"> ' +
                                '<img src="image/' + img + '" class="img-rounded" alt="" width="40" height="40" align="right">' +
                                '</div>' +
                                '<div class="col-sm-10"> ' +
                                '<a href="'+url+'" onclick = "return logClick(this);" target="_blank" class="list-group-item" style="border: none" type=' 
                                + value.category + '>' +
                                '<h4 class="list-group-item-heading" style="color:DodgerBlue;">' + value.title + '</h4>' +
                                '<p class="list-group-item-text">' + value.summary + ' </p>' +
                                '<p class="list-group-item-text_small"> Category: ' + value.category + '</p>' +

                                '</a>' +
                                '</div>' +
                                '</div>'
                            )
                        });

                    }); //end jquery get
                };

            </script>

    </body>

</html>
