<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>

<header>
    <% include ./partials/developer-header %>

<script type="text/javascript">
  function search(){
  	var query = document.getElementById("querybox").value;
    
    //http://chainmap.org/query/All/bitcoin
    var reqUrl = "./query/" + document.getElementById("category").value +"/"+ encodeURI(query);
    
    // alert(reqUrl);

    $.get( reqUrl, function( data ) {
    	
      document.getElementById("numResults").innerHTML = "Found " + data.response.numFound + " results in category " + document.getElementById("category").value;;
      var docs = data.response.docs;
      
      // document.getElementById("results1").innerHTML = docs[1].title;
      var resultsNode = document.getElementById("foundResults");
      while (resultsNode.firstChild) {
        resultsNode.removeChild(resultsNode.firstChild);
      };

      $.each(docs, function(index, value) {
        var img = value.category + ".png";
        document.getElementById("foundResults").innerHTML += (
          '<div class="row" margin-bottom: 4px>' +
          '<div class="col-sm-2"> ' +
          '<img src="image/'+img+'" class="img-rounded" alt="" width="40" height="40" align="right">' +
          '</div>' +
          '<div class="col-sm-10"> ' +
          '<a href="/resource/'+value.category+'/'+value.title+'" target="_blank" class="list-group-item" style="border: none">' +
          '<h4 class="list-group-item-heading" style="color:DodgerBlue;">'+ value.title +'</h4>' +
          '<p class="list-group-item-text">' + value.summary +' </p>' +
          '<p class="list-group-item-text_small"> Category: '+ value.category +'</p>' +
          
          '</a>' +
          '</div>' +
          '</div>'
          )
      });

    }); //end jquery get
  };

</script>

</header>


<body class="container">

<main>

<center><h2>ChainDev Market Place</h2></center>

<div class="container-fluid text-center">    
    <div class="row content">
        <div class="col-sm-2 sidenav">
        	<h3><a href="/signup">SignUp</a>  </h3> 
        </div>

        <div class="col-sm-8 align-self-center">
            
            <div class="row main_content">
                <div class="row">
                  <section class="col-xs-12">
                    <form class="form-horizontal" role="form">
                      <div class="col-xs-10">
                        <div class="input-group">
                          <div class="input-group-btn">
                            <select id="category" name="category" class="form-control" style="
                              width:150px;
                              padding:3px 10px;
                              border-top-left-radius: 5px;
                              border-bottom-left-radius: 5px;
                              background: #EAEAEA url(image/arrow2.png) no-repeat 90% 50%;
                              background-size:15px 15px;
                              appearance:none;
                              vertical-align: middle;
                              -moz-appearance:none;
                              -webkit-appearance:none;
                              ">
                                <option value="All">All</option>
                                <option value="White Papers">White Papers</option>
                                <option value="company">Company</option>
                                <option value="event">Event</option>
                                <option value="ICO">ICO</option>
                                <option value="Others">Others</option>
                            </select>
                          </div>
                          <input id="querybox" type="text" class="form-control" placeholder="Block chain">
                            <span class="input-group-btn">
                            <button onclick="search()" class="btn btn-primary" type="button">Search</button>
                            </span>
                        </div>
                      </div>
                    </form>
                  </section>
                    
                </div>

                <div class="row" id="result_display">
                	<p id="numResults"></p>
                
                  
                  <!-- <p id="foundResults"></p> -->
                </div>

                <div class="row"> 
                  <div class="list-group" id="foundResults">
                    
                  </div>
                </div>

                </div>
            </div>


        </div>
        


        <div class="col-sm-2 sidenav"> 
         </div>
  </div>
</div>

</main>
<footer>
    <% include ./partials/developer-footer %>
</footer>

</body>

</html>