<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->


<!-- header part start -->

<head>
    <meta charset="utf-8">
    <meta name="description" CONTENT="Blockchain developer growth platform. Personalized training, challenges, search capabilities, team connections and job matching. Earn tokens by posting challenges or answers, and spend tokens to get special training materials.">
    <meta name="keywords" CONTENT="blockchain education, blockchain jobs, blockchain community">
    <title>Chainmap - Your map for blockchain success.</title>
</head>

<% include ./partials/header %>
    <!-- header part end -->
    <!-- body part start -->

    <body>

        <script type="text/javascript">                                                                
            function logClick(obj) {
                console.log("----log click", obj)
                var link = obj.getAttribute("href");
                var t = obj.getAttribute("type");
                var title = obj.getAttribute("title");
                $.post("http://" + $(location).attr("hostname") + "/log", { id: link, type: t, title });
                return true;
            }
        </script>

        <div class="loader">
            <div class="loader_html"></div>
        </div>

        <div id="wrap" class="grid_1200">


            <% include ./partials/header_login %>

                <% include ./partials/body_header %>


                    <div class="section-warp ask-me">


                        <div class="container clearfix">
                            <div class="box_icon box_warp box_no_border box_no_background" box_border="transparent" box_background="transparent" box_color="#FFF">
                                <div class="row">


                                    <div class="col-md-12">
                                        <h2>ChainMap</h2>
                                        <!--
                                        <h2>ChainMap <a href="/loginRegister" class="button small green-button custom-button">Register/Login Now</a></h2> 
                                        -->
                                        <p style="font-size: 26px !important">
                                            The Best Map for Your Blockchain Career - You Come Here Every Day!
                                        </p>

                                        <p style="font-size: 26px !important">

                                            <center>
                                                 <a href="/trainingMaterial_Introduction">Knowledge Center</a>
                                            </center>


                                        </p>

                                        <div class="clearfix"></div>
                                        <!-- <a class="color button dark_button medium" href="#">About Us</a>
                                    <a class="color button dark_button medium" href="#">Join Now</a> -->
                                    </div>

                                </div>
                                <!-- End row -->
                            </div>
                            <!-- End box_icon -->
                        </div>
                        <!-- End container -->


                    </div>


                    <!-- Main Section of the home page contents -->

                    <section class="container main-content page-full-width">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <a href="javascript:" class="anchorcontainer">
                                    <div class="page-content page-shortcode">
                                        <div class="boxedtitle page-title">
                                            <a href="/connectJobs"><h2>Jobs - you know where the sun is</h2></a>
                                        </div>
                                        <div class="accordion blockcontainer">
                                            <div>
                                                <img alt="" src="image/homepage/jobs.jpg">
                                            </div>

                                            <div class="homepageoverlay">
                                                <div class="homepageoverlaytext">We can describe some details about job here</div>
                                            </div>
                                        </div>

                                    </div>
                                </a>

                                <!-- End page-content -->
                            </div>
                            <div class="col-md-6">
                                <a href="javascript:" class="anchorcontainer">
                                    <div class="page-content page-shortcode">
                                        <div class="boxedtitle page-title">
                                            <a href="/solution"><h2>Solutions - you know how to bear fruits</h2></a>
                                        </div>
                                        <div class="accordion blockcontainer">
                                            <div>
                                                <img alt="" src="image/homepage/solutionmap.jpg">
                                            </div>
                                            <div class="homepageoverlay">
                                                <div class="homepageoverlaytext">We can describe some details about Solutions here</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <!-- End page-content -->
                            </div>
                            <div class="col-md-6">
                                <a href="javascript:" class="anchorcontainer">
                                    <div class="page-content page-shortcode">
                                        <div class="boxedtitle page-title">
                                            <a href="/partnerPage"><h2>Connections - you know whom to connect with</h2></a>
                                        </div>
                                        <div class="accordion blockcontainer">
                                            <div>
                                                <img alt="" src="image/homepage/connect.jpg">
                                            </div>

                                            <div class="homepageoverlay">
                                                <div class="homepageoverlaytext">We can describe some details about Partners here</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <!-- End page-content -->
                            </div>
                            <div class="col-md-6">
                                <a href="javascript:" class="anchorcontainer">
                                    <div class="page-content page-shortcode">
                                        <div class="boxedtitle page-title">
                                            <a href="/usecase"><h2>Industry & Eco System - you know the world</h2></a>
                                        </div>
                                        <div class="accordion blockcontainer">
                                            <div>
                                                <img alt="" src="image/homepage/usecase.jpg">
                                            </div>
                                            <div class="homepageoverlay">
                                                <div class="homepageoverlaytext">We can describe some details about User Cases here</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <!-- End page-content -->
                            </div>
                            <div class="col-md-12">
                                <div class="page-content page-shortcode">
                                    <center>
                                        <h3> Sign on to get personal recommendations on learning/connections and earn CMPAP tokens! </h3>
                                        <br>
                                        <a href="/loginRegister" class="button medium green-button custom-button">Login/Register</a>
                                    </center>
                                </div>
                                <!-- End page-content -->
                            </div>

                        </div>

                        <!-- End row -->
                    </section>
                    <!-- End container -->




                    <!-- body footer start -->
                    <% include ./partials/body_footer %>
                        <!-- body footer end -->
        </div>
        <!-- End wrap -->

        <!-- footer started -->
        <% include ./partials/footer_js %>
            <!-- footer end -->



    </body>

</html>