<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>

<header>
    <% include ./partials/developer-header %>
</header>


<body class="container">

<main>

<center><h2>ChainDev Market Place</h2></center>


<h3><a href="/signup">SignUp</a>  </h3> 
to become a community contributor and early founding members.


</main>

<footer>
    <% include ./partials/developer-footer %>
</footer>

</body>
</html>