<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<!-- header part start -->
<% include ./partials/header %>
	<!-- header part end -->

	<body>

		<div class="loader">
			<div class="loader_html"></div>
		</div>

		<div id="wrap" class="grid_1200">

			<% include ./partials/header_login %>

				<% include ./partials/body_header %>
					<!-- <% include ./partials/alert_msg %> -->
					<section class="container main-content">
						<div class="login">
							<div class="row">
								<div class="col-md-6">
									<div class="page-content">
										<h2>Admin Login Page</h2>
										<div class="form-style form-style-3">
											<form action="/adminLogin" method="POST">
												<div class="form-inputs clearfix">
													<p class="login-text">
														<input type="text" placeholder="Admin Username" name="username" required>
														<i class="icon-user"></i>
													</p>
													<p class="login-password">
														<input type="password" placeholder="Password" name="password" required>
														<i class="icon-lock"></i>
														<!-- <a href="#">Forget</a> -->
													</p>
												</div>
												<p class="form-submit login-submit">
													<input type="submit" value="Log in" class="button color small login-submit submit">
												</p>
												<!-- <div class="rememberme">
													<label>
														<input type="checkbox" checked="checked"> Remember Me</label>
												</div> -->
											</form>
										</div>
									</div>
									<!-- End page-content -->
								</div>
								<!-- End col-md-6 -->
							</div>
							<!-- End row -->
						</div>
						<!-- End login -->
					</section>
					<!-- End container -->
					<!-- body footer start -->
					<% include ./partials/body_footer %>
						<!-- body footer end -->

		</div>
		<!-- End wrap -->

		<!-- footer started -->
		<% include ./partials/footer_js %>
			<!-- footer end -->
	</body>

</html>
