<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/developer-header %>
</header>

<main>
<h1>Login</h1>
<br>
<br>
		<form name="loginform" id="loginform" action="/login" method="post">
			
			<p>
				<label>Email Address</label><br>
				<input type="text" name="email" id="email" size="30" />
			</p>
			<p>
				<label>Password</label><br>
				<input type="password" name="password" id="password" size="30" />
			</p>
			
			<p>
				<input type="submit" name="cmp-submit"  value="Log In" />
			</p>
			
		</form>
<p>
	<a href="/userRegister" title="Create an account">Create an account</a>
</p>






</main>

<footer>
    <% include ./partials/developer-footer %>
</footer>

</body>
</html>