<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

<head>
    <% include ./partials/header %>
</head>

<body id="wordpress-org" class="plugin-template-default single single-plugin postid-9596 admin-bar no-customize-support no-js">
    <script type="text/javascript">document.body.className = document.body.className.replace('no-js', 'js');</script>
    <% include ./partials/body_header %>
        <div id="page" class="site">
            <a class="skip-link screen-reader-text" href="#main">Skip to content</a>

            <div id="content" class="site-content">
                <header id="masthead" class="site-header " role="banner">
                    <div class="site-branding">
                        <p class="site-title">
                            <a href="javascript:" rel="home">Question Board</a>
                        </p>

                        <nav id="site-navigation" class="main-navigation" role="navigation">
                            <button class="menu-toggle dashicons dashicons-arrow-down-alt2" aria-controls="primary-menu" aria-expanded="false" aria-label="Primary Menu"></button>
                            <div id="primary-menu" class="menu">
                                <ul>
                                    <li class="page_item">
                                        <a class="" href="javascript:" title="Post a Question">Post a Question</a>
                                    </li>
                                    <li class="page_item">
                                        <a class="" href="javascript:" title="Sub Menu 2">Sub Menu 2</a>
                                    </li>
                                    <li class="page_item">
                                        <a class="" href="javascript:" title="Sub Menu 3">Sub Menu 3</a>
                                    </li>
                                    <!-- <li><form role="search" method="get" class="search-form" action="https://wordpress.org/plugins/">
    <label for="s" class="screen-reader-text">Search for:</label>
    <input type="search" id="s" class="search-field" placeholder="Search plugins" value="" name="s" />
    <button class="button button-primary button-search"><i class="dashicons dashicons-search"></i><span class="screen-reader-text">Search plugins</span></button>
    </form>
    </li> -->
                                </ul>
                            </div>
                        </nav>
                        <!-- #site-navigation -->
                    </div>
                    <!-- .site-branding -->
                </header>
                <!-- #masthead -->

                <main id="main" class="site-main" role="main">


                    <article id="post-9596" class="post-9596 plugin type-plugin status-publish hentry plugin_category-discussion-and-community plugin_contributors-trevorpythag plugin_committers-trevorpythag plugin_tags-answers plugin_tags-forum plugin_tags-questions">

                        <header class="plugin-header">

                            <h1 class="plugin-title">Question Heading</h1>

                            <span class="byline">By
                                <span class="author vcard">
                                    <a class="url fn n" rel="nofollow" href="javascript">User Name</a>
                                </span>
                            </span>
                        </header>
                        <!-- .entry-header -->

                        <script type="text/javascript">if ('#changelog' == window.location.hash) { window.location.hash = '#developers'; }</script>
                        <span id="description"></span>
                        <span id="reviews"></span>
                        <span id="installation"></span>
                        <span id="developers"></span>
                        <span id="extras"></span>
                        <ul class="tabs clear">
                            <li id="tablink-description">
                                <a href="#description">Details</a>
                            </li>
                            <!-- <li id="tablink-reviews"><a href="#reviews">Reviews</a></li> -->
                            <li id="tablink-installation">
                                <a href="#installation">Installation</a>
                            </li>
                            <li id="tablink-extras">
                                <a href="#extras">Extras</a>
                            </li>

                            <!-- <li id="tablink-developers"><a href="#developers">Development</a></li> -->
                        </ul>

                        <div class="entry-content">

                            <div id="tab-description" class="plugin-description section">
                                <h2 id="description-header">Description</h2>
                                <p>Question description will be given here</p>
                            </div>

                            <div id="tab-installation" class="plugin-installation section">
                                <h2 id="installation-header">Installation</h2>
                                <ol>
                                    <li>Extract the zip file and just drop the contents in the wp-content/plugins/ directory
                                        of your WordPress installation and then activate the Plugin from Plugins page.</li>
                                    <li>View the Q&amp;A Forum page under settings in the wordpress admin to choose settings</li>
                                    <li>Create a normal wordpress page with the shortcode [question_form width=\&#8217;x\&#8217;
                                        bordercolor=\&#8217;x\&#8217; style=\&#8217;x\&#8217;]question form title[/question_form]
                                        to insert the question form where each of the parameters can be omitted (the style
                                        parameter is any addition css styles to add to the form)</li>
                                    <li>use the [list_questions] short code to list questions which can be filtered by category
                                        or user. Use the parameter author=’%’ to display the current user.</li>
                                    <li>If you wish the users to be logged in to ask a question select the appropriate option
                                        on the options page. It is recommended you use another plugin to manage your users
                                        (such as login with ajax and customise your community). You will also need to ensure
                                        that anyone can register in the general settings for wordpress.</li>
                                    <li>To customise the look of your forum create a single-question.php and quser.php if you
                                        are using user profiles file in your themes folder. This can be created in the same
                                        way as the single.php file (you could copy this if your license allows). In this
                                        forum the questions are actually posts and the answers comments so you should change
                                        the output accordingly, eg if you comment form as the text submit comment change
                                        it to submit answer.</li>
                                </ol>
                            </div>

                            <div id="tab-extras" class="plugin-description section">
                                <h2 id="extras-header">Extra</h2>
                                <p>Question description will be given here</p>
                            </div>




                        </div>
                        <!-- .entry-content -->

                        <div class="entry-meta">
                            <div class="widget plugin-meta">
                                <h3 class="screen-reader-text">Meta</h3>

                                <ul>

                                    <li>
                                        Version:
                                        <strong>2.1.4</strong>
                                    </li>

                                    <li>
                                        Last updated:
                                        <strong>
                                            <span>6 years</span> ago</strong>
                                    </li>
                                    <li>
                                        Active installations:
                                        <strong>400+</strong>
                                    </li>

                                    <li>
                                        Requires WordPress Version:
                                        <strong>3.0</strong>
                                    </li>

                                    <li>
                                        Tested up to:
                                        <strong>3.4.2</strong>
                                    </li>



                                    <li class="clear">
                                        Tags:
                                        <div class="tags">
                                            <a href="https://wordpress.org/plugins/tags/answers/" rel="tag">answers</a>
                                            <a href="https://wordpress.org/plugins/tags/forum/" rel="tag">forum</a>
                                            <a href="https://wordpress.org/plugins/tags/questions/" rel="tag">questions</a>
                                        </div>
                                    </li>

                                    <li class="hide-if-no-js">
                                        <strong>
                                            <a class="plugin-admin" href="https://wordpress.org/plugins/question-and-answer-forum/advanced/">Advanced View</a>
                                        </strong>
                                    </li>
                                </ul>

                            </div>



                            <!-- <div id="plugin-contributors" class="widget plugin-contributors"><h4 class="widget-title">Contributors</h4>
        <ul id="contributors-list" class="contributors-list">
                        <li>
                <img alt='' src='https://secure.gravatar.com/avatar/3123e7514fb53a94f4f2e4b9b328928b?s=32&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/3123e7514fb53a94f4f2e4b9b328928b?s=64&#038;d=mm&#038;r=g 2x' class='avatar avatar-32 photo' height='32' width='32' />				<a href="https://profiles.wordpress.org/trevorpythag">
                    trevorpythag				</a>
            </li>
                    </ul>
    
        </div> -->



                            <!-- we can use this block later. commented for now -->
                            <!-- <div class="widget plugin-support">
                            <h3 class="widget-title">Support</h3>
                            <p>Got something to say? Need help?</p>
    
                            <p>
                                <a class="button" href="https://wordpress.org/support/plugin/question-and-answer-forum">View support forum</a>
                            </p>
    
                        </div> -->
                            <div class="widget plugin-donate">
                                <h3 class="widget-title">Donate</h3>
                                <p class="aside">Would you like to support the advancement of this plugin?</p>
                                <p>
                                    <a class="button button-secondary" href="http://qandaforum.trevorpythag.co.uk" rel="nofollow">
                                        Donate to this plugin </a>
                                </p>

                            </div>
                        </div>
                        <!-- .entry-meta -->
                    </article>
                    <!-- #post-## -->

                </main>
                <!-- #main -->


            </div>
            <!-- #content -->
            <% include ./partials/footer %>
</body>

</html>