<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<!-- header part start -->
<% include ./partials/header %>
    <!-- header part end -->

    <body>

        <div class="loader">
            <div class="loader_html"></div>
        </div>

        <div id="wrap" class="grid_1200">


            <% include ./partials/header_login %>

                <% include ./partials/body_header %>

                    <div class="breadcrumbs">
                        <section class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>Reset your password</h1>
                                </div>

                            </div>
                            <!-- End row -->
                        </section>
                        <!-- End container -->
                    </div>
                    <!-- End breadcrumbs -->

                    <section class="container main-content page-full-width">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="page-content">
                                    <% if (data == 1){%>
                                        <form id="resetPassword" action="/resetPasswordAction" method="POST">
                                            <p>
                                                <label for="name" class="required">Enter Your Password
                                                    <span>*</span>
                                                </label>
                                                <input class="required-item" value="" name="password" id="password" aria-required="true" type="password" style="width: 400px;">
                                                <label for="name" class="required">Please confirm your password
                                                    <span>*</span>
                                                </label>
                                                <input class="required-item" value="" name="confirmpassword" id="confirmpassword" aria-required="true" type="password" style="width: 400px;">
                                                
                                                <input type="hidden" name="token" value="<%=token%>" />
                                            </p>
                                            <div class="g-recaptcha" data-sitekey="6LcZ32kUAAAAAEaAjIfXSIE05g4r3Gn1FNT-GCRd"></div>
                                            <br>
                                            <p class="form-submit">
                                                <input value="Update Password" class="button color small submit" type="submit">
                                            </p>
                                        </form>
                                        <% } else{%>
                                            <p>The link is somehow broken. Please try again to reset your password with this
                                                link :
                                                <a href="/forgetPassword">Reset your password</a>
                                            </p>
                                            <% } %>
                                </div>
                                <!-- End page-content -->
                            </div>
                            <!-- End main -->
                        </div>
                        <!-- End row -->
                    </section>
                    <!-- End container -->

                    <!-- body footer start -->
                    <% include ./partials/body_footer %>
                        <!-- body footer end -->

        </div>
        <!-- End wrap -->

        <!-- footer started -->
        <% include ./partials/footer_js %>
            <!-- footer end -->
            <script src="http://malsup.github.com/jquery.form.js"></script>
            <script type="text/javascript">
                // function validateEmail(email) {
                //     var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                //     return re.test(email);
                // }
                $(document).ready(function () {
                    url = "/resetPassword"
                    $('#resetPassword').submit(function (event) {
                        event.preventDefault();
                        if ($("#password").val() == "") {
                            alert("No password provided");
                        }
                        else if($("#confirmpassword").val() == ""){
                            alert("No confirm password provided");
                        }
                        else if($("#confirmpassword").val() != $("#password").val()){
                            alert("Password and confirm password do not match.");
                        }
                        else {
                            $(this).ajaxSubmit({
                                error: function (xhr) {
                                    alert(xhr.status)
                                    // status('Error: ' + xhr.status);
                                },
                                success: function (response) {
                                    alert(response.responseDesc)
                                    if (response.responseCode == 2){
                                        window.location.href = "/"
                                    }
                                    
                                }
                            });
                            return false;
                        }

                        //Very important line, it disable the page refresh.
                        return false;
                    });
                });
            </script>

    </body>

</html>