<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
    <html lang="en">
    <!--<![endif]-->
    <!-- header part start -->
    <% include ./partials/header %>
    <!-- header part end -->
    <!-- body part start -->

    <body>

        <div class="loader">
            <div class="loader_html"></div>
        </div>

        <div id="wrap" class="grid_1200">

            <% include ./partials/header_login %>
            <% include ./partials/body_header %>
            <div class="section-warp ask-me">
                <div class="container clearfix">
                    <div class="box_icon box_warp box_no_border box_no_background" box_border="transparent" box_background="transparent" box_color="#FFF">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Map of Blockchain Use Cases</h2>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                        <!-- End row -->
                    </div>
                    <!-- End box_icon -->
                </div>
                <!-- End container -->
            </div>
            <!-- End section-warp -->

            <section class="container main-content">
                        <div class="row">
                        
               
                            <div class="boxedtitle page-title">
                                <h2>Latest Use Case Finding</h2>
                            </div> 
					
                            <div class="col-md-12">
                                <% 
                                 for(var i = 0;i < 5;i++) { %>

                                 <article class="post blog_2 clearfix">
                                     <div class="post-inner">
                                         <h2 id="<%="art"+i+"1"%>" class="post-title">
                                             title
                                         </h2>

                                         <span style="font-weight: bold;" id="<%="art"+i+"2"%>" class ="meta-date">
                                             date 
                                         </span>

                                         <span style="font-size:16px" id="<%="art"+i+"3"%>" class="meta-author">
                                             summary
                                         </span>
                                     </div>
                                     <!-- End post-inner -->
                                 </article>

                                 <% } %>
								 
								 
   
 
                                <script type="text/javascript">
                                    var host = $(location).attr("hostname")
                                        var reqUrl = "http://" + $(location).attr("hostname") + "/getNews";
                                        $.when($.get(reqUrl)).done((r) => {
                                            for (i=0; i < 5; i++) 
                                            {
                                                var link = r[i]["url"][0];
                                                var pdate = String(r[i]["date"][0]).replace("T00:00:00Z", "");
                                                var title = String(r[i]["title"][0]);
                                                var category = String(r[i]["category"][0]);
                                                var summary = String(r[i]["summary"][0]).match(/(.*?)[.?!]\s/);

						if(summary == null){
						summary = 'No summary available';
						}else{
						summary = summary[0];
						}
                                                
                                                //var titlelink = "<a href=\'" + link +"\'"+ " title = \"" + title + "\"onclick = \'return logClick(this);\' type=\'news\' class='post-read-more button color small' target='_blank'>" + title + "</a>";
												var titleline = "<a href=\'" + link +"\'"+" target='_blank'>" + title + "</a>";
                        
                                                document.getElementById("art"+i+"1").innerHTML=titleline;
                                                document.getElementById("art"+i+"2").innerHTML="["+pdate+"]";
                                                document.getElementById("art"+i+"3").innerHTML=summary;
                                            }
                                        });
                                </script>
                            </div> <!--col-md-12-->
                        </div> <!--row-->
                        
                        <div class="row">
                        	 <div class="boxedtitle page-title">
                                <h2>White Paper Search</h2>
                             </div> 
					
                             <div class="col-md-12">

                                <div class="page-content">
                                    <div class="page-content">
                                        <form class="form-style form-style-3 form-style-5" action="javascript:">
                                            <div class="form-inputs clearfix">
                                                <p>
                                                    <label class="required">Keyword
                                                    </label>
                                                    <input id="querybox1" type="text" area-required="true" placeholder="Bitcoin" required>
                                                </p>

                                            </div>


                                            <p class="form-submit">
                                                <input name="submit" value="Search" width="100" class="submit button medium color" type="submit" onclick="search('White_Paper','querybox1', 'numResults1', 'foundResults1')">
                                            </p>
                       
                                        </form>
                                    </div>
                                    <div class="row" id="result_display">
                                        <p id="numResults1"></p>


                                        <!-- <p id="foundResults"></p> -->
                                    </div>

                                    <div class="row">
                                        <div class="list-group" id="foundResults1">

                                        </div>
                                    </div>


                                </div>
                                <!-- End page-content -->
                            </div>
                    </div>

                       
                    
 
            </section>



            <!-- body footer start -->
            <% include ./partials/body_footer %>
            <!-- body footer end -->
        </div>
        <!-- End wrap -->

        <!-- footer started -->
        <% include ./partials/footer_js %>
        <!-- footer end -->
        
                 
        <script type="text/javascript">
                function search(category, querybox, numResults, foundResults) {
                    var query = document.getElementById(querybox).value;

                    //http://chainmap.org/query/All/bitcoin
                    var reqUrl = "./query/"+category+"/"  + encodeURI(query);


                    $.get(reqUrl, function (data) {
                        document.getElementById(numResults).innerHTML = "Found " + data.response.numFound + " results in category " +category +" display limit 10";
                        var docs = data.response.docs;

                        // document.getElementById("results1").innerHTML = docs[1].title;
                        var resultsNode = document.getElementById(foundResults);
                        while (resultsNode.firstChild) {
                            resultsNode.removeChild(resultsNode.firstChild);
                        };

                        $.each(docs, function (index, value) {
                            var img = value.category + ".png";
                            var url = String(value.url);
                            //alert(url.length);
                            if(url.startsWith("http")) {
                                //alert(url);
                            } else {
                                url = "/resource/"+value.category+"/"+value.title;
                            }
                            
                            
                            document.getElementById(foundResults).innerHTML += (
                                '<div class="row" margin-bottom: 4px>' +
                                '<div class="col-sm-2"> ' +
                                '<img src="image/' + img + '" class="img-rounded" alt="" width="40" height="40" align="right">' +
                                '</div>' +
                                '<div class="col-sm-10"> ' +
                                '<a href="'+url+'" title = \"' + value.title + '\" onclick = "return logClick(this);" target="_blank" class="list-group-item" style="border: none" type=' 
                                + value.category + '>' +
                                '<h4 class="list-group-item-heading" style="color:DodgerBlue;">' + value.title + '</h4>' +
                                '<p class="list-group-item-text">' + value.summary + ' </p>' +
                                '<p class="list-group-item-text_small"> Category: ' + value.category + '</p>' +

                                '</a>' +
                                '</div>' +
                                '</div>'
                            )
                        });

                    }); //end jquery get
                };

            </script>



    </body>

    </html>

